.partsTiles-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4열로 설정 */
    grid-template-rows: repeat(2, auto); /* 2행으로 설정 */
    gap: 12px; /* 요소 간 간격 */
    justify-content: center;
    margin: 12px;
}

.partsTiles-item {
    box-sizing: border-box;
    padding: 12px;
    background-color: #f9f9f9; /* 임의 배경색 */
    border: 1px solid #ddd; /* 임의 테두리 */
}

.partsTiles-item-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px 24px;
    box-shadow: 0 4px 16px rgba(16, 29, 45, 0.08);
}

.partsTiles-item:hover{
opacity: .7;
}