#loginButton{
  color: white; /* 글자 색 */
      border: none; /* 테두리 제거 */
      padding: 10px 20px; /* 패딩 */
      font-size: 14px; /* 폰트 크기 */
      cursor: pointer; /* 손가락 모양의 커서 */
      transition: background-color 0.3s ease, transform 0.3s ease; /* 효과 */
      border-radius: 10px; /* 둥근 모서리 */
      width: auto; /* 버튼 크기는 내용에 맞게 */
       display: inline-block; /* 인라인 블록으로 설정 */
          text-align: center; /* 텍스트 중앙 정렬 */
          margin-left: 126px;
               font-weight: bold;
                transition: 0.3s;
                background-color: #1976D2;
}
#loginButton:hover {
                  opacity: .7;
              }

#joinButton{
background-color: #1976D2;
color: white; /* 글자 색 */
      border: none; /* 테두리 제거 */
      padding: 10px 20px; /* 패딩 */
      font-size: 14px; /* 폰트 크기 */
      cursor: pointer; /* 손가락 모양의 커서 */
      transition: background-color 0.3s ease, transform 0.3s ease; /* 효과 */
      border-radius: 10px; /* 둥근 모서리 */
      width: auto; /* 버튼 크기는 내용에 맞게 */
       display: inline-block; /* 인라인 블록으로 설정 */
          text-align: center; /* 텍스트 중앙 정렬 */
          margin-left: 126px;
                font-weight: bold;
                transition: 0.3s;
}

#joinButton:hover {
                 opacity: .7;
              }