<!DOCTYPE html>
<html lang="en" class="no-js"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>PcSymphony</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<!--헤더-->
<body class="has-animations">
<div class="body-wrap">
	<header class="site-header invert-color">
		<div class="container">
			<div class="site-header-inner">
				<div class="brand">
					<h1 class="m-0">
						<a href="home.html">
							<img th:src="@{/images/logo.svg}" src="../static/images/logo.svg" alt="Tidy" width="32" height="32"></a></h1></div>
				<button id="header-nav-toggle" class="header-nav-toggle" aria-controls="primary-menu"
						aria-expanded="false"><span class="screen-reader">Menu</span> <span class="hamburger"><span
						class="hamburger-inner"></span></span></button>
				<nav id="header-nav" class="header-nav">
					<div class="header-nav-inner">

						<ul class="list-reset header-nav-right">

							<li>
								<!-- 로그인 전 -->
								<th:block sec:authorize="not isAuthenticated()">
									<p><a class="button button-primary button-wide-mobile  button-sm"
										  th:href="@{/member/login}">로그인</a></p>
									<p><a class="button button-primary button-wide-mobile  button-sm"
										  th:href="@{/member/join}">회원가입</a></p>
								</th:block>
								<!-- 로그인 후 -->
								<th:block sec:authorize="isAuthenticated()">
									<p><a class="button button-primary button-wide-mobile  button-sm"
										  th:href="@{/member/logout}">로그아웃</a></p>
								</th:block>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<!--대문-->
	<main class="site-content">
		<section class="hero section has-bg-color invert-color">
			<div class="container">
				<div class="hero-inner section-inner">
					<div class="split-wrap">
						<div class="split-item">
							<div class="hero-content split-item-content center-content-mobile reveal-from-top"><h1
									class="mt-0 mb-16">build your pc in pcSymphony</h1>
								<div class="button-group">
									<a class="button button-primary button-wide-mobile" href="#parts1">Parts</a>
									<a class="button button-dark button-wide-mobile" th:href="@{/cart}">Cart</a>
									<a class="button button-primary button-wide-mobile" th:href="@{community/list}">Community</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--  part 카테고리 표시 창      -->
		<section class="features-tiles section">
			<div class="container grid" name="parts1">
				<!-- cpu -->
				<a class="button button-primary button-wide-mobile grid-item" href="/part/cpu">cpu</a>
				<!-- cpucooler -->
				<a class="button button-primary button-wide-mobile grid-item" href="/part/cpucooler">cpucooler</a>
				<!-- cover -->
				<a class="button button-primary button-wide-mobile grid-item" href="/part/cover">cover</a>
				<!-- memory -->
				<a class="button button-primary button-wide-mobile grid-item" href="/part/memory">memory</a>
				<!-- motherboard -->
				<a class="button button-primary button-wide-mobile grid-item" href="/part/motherboard">motherboard</a>
				<!-- powersupply -->
				<a class="button button-primary button-wide-mobile grid-item" href="/part/powersupply">powersupply</a>
				<!-- storage -->
				<a class="button button-primary button-wide-mobile grid-item" href="/part/storage">storage</a>
				<!-- videocard -->
				<a class="button button-primary button-wide-mobile grid-item" href="/part/videocard">videocard</a>
			</div>
		</section>


		<!--pcGuide-->
		<section class="news section illustration-section-01">
			<div class="container">
				<div class="news-inner section-inner">
					<div class="section-header center-content">
						<div class="container-xs"><h2 class="mt-0 mb-16">pcGuide</h2>
							<p class="mb-0">pcGuide에 대한 내용입니다.</p></div>
					</div>
					<div class="tiles-wrap">
						<article class="tiles-item reveal-from-bottom">
							<div class="tiles-item-inner has-shadow">
								<figure class="news-item-image m-0">
									<img src="/images/news-image-01.jpg" alt="News 01"
										 width="344" height="194"></figure>
								<div class="news-item-content">
									<div class="news-item-body"><h3 class="news-item-title h4 mt-0 mb-8"><a href="#">How
										to build anything</a></h3>
										<p class="mb-16 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing
											elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad
											minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
											ex.</p></div>
									<div class="news-item-more text-xs mb-8"><a href="#">Read more</a></div>
								</div>
							</div>
						</article>
						<article class="tiles-item reveal-from-bottom" data-reveal-delay="200">
							<div class="tiles-item-inner has-shadow">
								<figure class="news-item-image m-0">
									<img src="/images/news-image-02.jpg" alt="News 02"
										 width="344" height="194"></figure>
								<div class="news-item-content">`
									<div class="news-item-body"><h3 class="news-item-title h4 mt-0 mb-8"><a href="#">How
										to build anything</a></h3>
										<p class="mb-16 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing
											elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad
											minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
											ex.</p></div>
									<div class="news-item-more text-xs mb-8"><a href="#">Read more</a></div>
								</div>
							</div>
						</article>
						<article class="tiles-item reveal-from-bottom" data-reveal-delay="400">
							<div class="tiles-item-inner has-shadow">
								<figure class="news-item-image m-0"><img src="/images/news-image-03.jpg" alt="News 03"
																		 width="344" height="194"></figure>
								<div class="news-item-content">
									<div class="news-item-body"><h3 class="news-item-title h4 mt-0 mb-8"><a href="#">How
										to build anything</a></h3>
										<p class="mb-16 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing
											elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad
											minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
											ex.</p></div>
									<div class="news-item-more text-xs mb-8"><a href="#">Read more</a></div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<!--PcReview-->
		<section class="roadmap section has-top-divider">
			<div class="container">
				<div class="roadmap-inner section-inner">
					<div class="section-header center-content">
						<div class="container-xs"><h2 class="mt-0 mb-16">PcReview</h2>
							<p class="mb-0">PcReview에 대한 내용입니다.</p></div>
					</div>
					<div class="tiles-wrap">
						<article class="tiles-item reveal-from-bottom">
							<div class="tiles-item-inner has-shadow">
								<figure class="news-item-image m-0">
									<img src="/images/news-image-01.jpg" alt="News 01"
										 width="344" height="194"></figure>
								<div class="news-item-content">
									<div class="news-item-body"><h3 class="news-item-title h4 mt-0 mb-8"><a href="#">How
										to build anything</a></h3>
										<p class="mb-16 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing
											elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad
											minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
											ex.</p></div>
									<div class="news-item-more text-xs mb-8"><a href="#">Read more</a></div>
								</div>
							</div>
						</article>
						<article class="tiles-item reveal-from-bottom" data-reveal-delay="200">
							<div class="tiles-item-inner has-shadow">
								<figure class="news-item-image m-0">
									<img src="/images/news-image-02.jpg" alt="News 02"
										 width="344" height="194"></figure>
								<div class="news-item-content">
									<div class="news-item-body"><h3 class="news-item-title h4 mt-0 mb-8"><a href="#">How
										to build anything</a></h3>
										<p class="mb-16 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing
											elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad
											minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
											ex.</p></div>
									<div class="news-item-more text-xs mb-8"><a href="#">Read more</a></div>
								</div>
							</div>
						</article>
						<article class="tiles-item reveal-from-bottom" data-reveal-delay="400">
							<div class="tiles-item-inner has-shadow">
								<figure class="news-item-image m-0"><img src="/images/news-image-03.jpg" alt="News 03"
																		 width="344" height="194"></figure>
								<div class="news-item-content">
									<div class="news-item-body"><h3 class="news-item-title h4 mt-0 mb-8"><a href="#">How
										to build anything</a></h3>
										<p class="mb-16 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing
											elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad
											minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
											ex.</p></div>
									<div class="news-item-more text-xs mb-8"><a href="#">Read more</a></div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>


	</main>
	<footer class="site-footer center-content-mobile invert-color">
		<div class="container">
			<div class="site-footer-inner">
				<div class="footer-top space-between text-xxs">
					<div class="brand"><a href="home.html">
						<img src="/images/logo.svg" alt="Tidy" width="32"
							 height="32"></a></div>
					<div class="footer-social">
						<ul class="list-reset">
							<li><a href="#">
								<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
									<title>Facebook</title>
									<path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"/>
								</svg>
							</a></li>
							<li><a href="#">
								<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
									<title>Twitter</title>
									<path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z"/>
								</svg>
							</a></li>
							<li><a href="#">
								<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
									<title>Instagram</title>
									<g>
										<circle cx="12.145" cy="3.892" r="1"/>
										<path d="M8 12c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm0-6c-1.103 0-2 .897-2 2s.897 2 2 2 2-.897 2-2-.897-2-2-2z"/>
										<path d="M12 16H4c-2.056 0-4-1.944-4-4V4c0-2.056 1.944-4 4-4h8c2.056 0 4 1.944 4 4v8c0 2.056-1.944 4-4 4zM4 2c-.935 0-2 1.065-2 2v8c0 .953 1.047 2 2 2h8c.935 0 2-1.065 2-2V4c0-.935-1.065-2-2-2H4z"/>
									</g>
								</svg>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-bottom space-between text-xxs invert-order-desktop">
					<nav class="footer-nav">
						<ul class="list-reset">
							<li><a href="#">Contact</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">FAQ's</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</nav>
					<div class="footer-copyright">&copy; 2024 PcSymphony, all rights reserved</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<script th:src="@{/js/main.min.js}" src="../static/js/main.min.js"></script>
</body>
</html>