<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>market</title>
<style>
  table {
 	border-style: solid;
	border-color: black;
	border-width: 2px;
    
  }
</style>
</head>
<body>

	<h1>[ 중고거래 서비스 ]</h1>
	
	<table>
		<!-- 로그인 로그아웃 회원가입 커뮤니티 -->
		<th>동원담당</th>
		<!--  로그인 전 -->
		<th:block sec:authorize="not isAuthenticated()">
			<p><a th:href="@{/member/join}">회원가입</a></p>
			<p><a th:href="@{/member/login}">로그인</a></p>
		</th:block>
		<!--  로그인 후 -->
		<th:block sec:authorize="isAuthenticated()">
			<p><a th:href="@{/member/logout}">로그아웃</a></p>
			<p><a th:href="@{/board/list}">거래 게시판</a></p>
		</th:block>
		
		<th>
			<button>커뮤니티</button>
		</th>
	</table>

	<table>
		<!-- 리스트 리스트디테일 디테일댓글 -->
		<th>윤원담당</th>
		<button>cpu</button>
		<button>cpucooler</button>
		<button>gpu</button>
		<button>memory</button>
		<button>storage</button>
		<button>motherboard</button>
		<button>power</button>
		<button>case</button>
	</table>
	
	<table>
		<!-- 카트 피씨리뷰 리뷰댓글 가이드라인 -->
		<th>대원담당</th>	
		<button>pc리뷰</button>
		<button>카트</button>
		<button>가이드라인</button>
		<button>가이드라인</button>
	</table>

</body>
</html>
