<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${part.name} + ' 상세 정보'">Part Detail</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <!--    <link href="../../static/css/partDetail.css" rel="stylesheet" th:href="@{/css/partDetail.css}">-->
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <script src="../../static/js/partDetail.js" th:src="@{/js/partDetail.js}"></script>

</head>
<body id="partDetail-body">
<!-- Header Fragment 포함 -->
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <div class="container">
            <h1 th:text="${tableName} + ' : ' + ${part.name}">Part Detail</h1>
            <table>
                <!-- 공통 속성들 -->
                <thead>
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                    <th>제조사</th>
                    <th>파트</th>
                    <th>가격</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.id}">ID</td>
                    <td th:text="${part.name}">Name</td>
                    <td th:text="${part.manufacturer}">Manufacturer</td>
                    <td th:text="${part.part}">Part</td>
                    <td th:text="${part.price}">Price</td>
                </tr>
                </tbody>

                <!-- CoverDTO 속성들 -->
                <thead>
                <tr th:if="${tableName == 'cover'}">
                    <th>파워 서플라이 여부</th>
                    <th>메인보드 폼팩터</th>
                    <th>최대 비디오 카드 길이</th>
                    <th>타입</th>
                    <th>색상</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tableName == 'cover'}">
                    <td th:text="${part.coverPowerSupply} ? 'Yes' : 'No'">Cover Power Supply</td>
                    <td th:text="${part.coverMotherboardFormFactor}">Cover Motherboard Form Factor</td>
                    <td th:text="${part.coverMaxVideoCardLength}">Cover Max Video Card Length</td>
                    <td th:text="${part.coverType}">Cover Type</td>
                    <td th:text="${part.coverColor}">Cover Color</td>
                </tr>
                </tbody>

                <!-- CpuCoolerDTO 속성들 -->
                <thead>
                <tr th:if="${tableName == 'cpucooler'}">
                    <th>CPU 소켓</th>
                    <th>수냉 여부</th>
                    <th>색상</th>
                    <th>소음 수준</th>
                    <th>팬 RPM</th>

                </tr>
                </thead>
                <tbody>
                <tr th:if="${tableName == 'cpucooler'}">
                    <td th:text="${part.cpuCoolerCpuSocket}">CPU Cooler CPU Socket</td>
                    <td th:text="${part.cpuCoolerWaterCooled} ? 'Yes' : 'No'">Water Cooled</td>
                    <td th:text="${part.cpuCoolerColor}">CPU Cooler Color</td>
                    <td th:text="${part.cpuCoolerNoiseLevel}">Noise Level</td>
                    <td th:text="${part.cpuCoolerFanRpm}">Fan RPM</td>
                </tr>
                </tbody>

                <!-- CpuDTO 속성들 -->
                <thead>
                <tr th:if="${tableName == 'cpu'}">
                    <th>시리즈</th>
                    <th>소켓</th>
                    <th>쿨러 포함 여부</th>
                    <th>TDP</th>
                    <th>마이크로아키텍처</th>
                    <th>코어 수</th>
                    <th>스레드 수</th>
                    <th>성능 코어 클럭</th>
                    <th>성능 부스트 클럭</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tableName == 'cpu'}">
                    <td th:text="${part.cpuSeries}">Series</td>
                    <td th:text="${part.cpuSocket}">Socket</td>
                    <td th:text="${part.cpuIncludesCooler} ? 'Yes' : 'No'">Includes Cooler</td>
                    <td th:text="${part.cpuTdp}">TDP</td>
                    <td th:text="${part.cpuMicroarchitecture}">Microarchitecture</td>
                    <td th:text="${part.cpuCoreCount}">Core Count</td>
                    <td th:text="${part.cpuThreadCount}">Thread Count</td>
                    <td th:text="${part.cpuPerformanceCoreClock}">Performance Core Clock</td>
                    <td th:text="${part.cpuPerformanceCoreBoostClock}">Performance Core Boost Clock</td>
                </tr>
                </tbody>

                <!-- MemoryDTO 속성들 -->
                <thead>
                <tr th:if="${tableName == 'memory'}">
                    <th>메모리 폼팩터</th>
                    <th>색상</th>
                    <th>모듈</th>
                    <th>속도</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tableName == 'memory'}">
                    <td th:text="${part.memoryFormFactor}">Memory Form Factor</td>
                    <td th:text="${part.memoryColor}">Memory Color</td>
                    <td th:text="${part.memoryModule}">Memory Module</td>
                    <td th:text="${part.memorySpeed}">Memory Speed</td>
                </tr>
                </tbody>

                <!-- MotherboardDTO 속성들 -->
                <thead>
                <tr th:if="${tableName == 'motherboard'}">
                    <th>소켓 CPU</th>
                    <th>폼팩터</th>
                    <th>메모리 유형</th>
                    <th>칩셋</th>
                    <th>메모리 슬롯 수</th>
                    <th>슬롯 수 (M.2)</th>

                </tr>
                </thead>
                <tbody>
                <tr th:if="${tableName == 'motherboard'}">
                    <td th:text="${part.motherboardSocketCpu}">Motherboard Socket CPU</td>
                    <td th:text="${part.motherboardFormFactor}">Motherboard Form Factor</td>
                    <td th:text="${part.motherboardMemoryType}">Motherboard Memory Type</td>
                    <td th:text="${part.motherboardChipset}">Motherboard Chipset</td>
                    <td th:text="${part.motherboardMemorySlotCount}">Motherboard Memory Slot Count</td>
                    <td th:text="${part.motherboardMdot2SlotCount}">Motherboard M.2 Slot Count</td>
                </tr>
                </tbody>

                <!-- PowerSupplyDTO 속성들 -->
                <thead>
                <tr th:if="${tableName == 'powersupply'}">
                    <th>전원 종류</th>
                    <th>전력(W)</th>
                    <th>길이</th>
                    <th>색상</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tableName == 'powersupply'}">
                    <td th:text="${part.powerSupplyType}">Power Supply Type</td>
                    <td th:text="${part.powerSupplyWattage}">Power Supply Wattage</td>
                    <td th:text="${part.powerSupplyLength}">Power Supply Length</td>
                    <td th:text="${part.powerSupplyColor}">Power Supply Color</td>
                </tr>
                </tbody>

                <!-- StorageDTO 속성들 -->
                <thead>
                <tr th:if="${tableName == 'storage'}">
                    <th>저장소 종류</th>
                    <th>저장소 폼팩터</th>
                    <th>저장소 용량</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tableName == 'storage'}">
                    <td th:text="${part.storageType}">Storage Type</td>
                    <td th:text="${part.storageFormFactor}">Storage Form Factor</td>
                    <td th:text="${part.storageCapacity}">Storage Capacity</td>
                </tr>
                </tbody>

                <!-- VideoCardDTO 속성들 -->
                <thead>
                <tr th:if="${tableName == 'videocard'}">
                    <th>비디오 카드 길이</th>
                    <th>비디오 카드 TDP</th>
                    <th>메모리</th>
                    <th>칩셋</th>
                    <th>색상</th>
                    <th>코어 클럭</th>
                    <th>부스트 클럭</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tableName == 'videocard'}">
                    <td th:text="${part.videoCardLength}">Video Card Length</td>
                    <td th:text="${part.videoCardTdp}">Video Card TDP</td>
                    <td th:text="${part.videoCardMemory}">Video Card Memory</td>
                    <td th:text="${part.videoCardChipset}">Video Card Chipset</td>
                    <td th:text="${part.videoCardColor}">Video Card Color</td>
                    <td th:text="${part.videoCardCoreClock}">Core Clock</td>
                    <td th:text="${part.videoCardBoostClock}">Boost Clock</td>
                </tr>
                </tbody>

                <tr>
                    <th colspan="2">
                        <button onclick="addToCart(this)" th:data-id="${part.id}" th:data-table-name="${tableName}">
                            장바구니에 담기
                        </button>
                    </th>
                </tr>
                <!-- 담기버튼을 누르면 tableName알맞는 장바구니의 id값에 담긴다. -->
            </table>

            <!----------------------------------리뷰-------------------------------------------------->

            <h2>리뷰 작성</h2>

            <!-- 리뷰 작성 폼 -->
            <div class="review-form">
                <h3>리뷰 작성하기</h3>
                <form id="reviewForm">
                    <div>
                        <label for="partsReviewTitle">리뷰 제목:</label>
                        <input id="partsReviewTitle" name="partsReviewTitle" placeholder="리뷰 제목을 작성해주세요." required
                               type="text">
                    </div>

                    <div>
                        <label for="partsReviewRating">별점:</label>
                        <select id="partsReviewRating" name="partsReviewRating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </div>

                    <div>
                        <label for="partsReviewContent">리뷰 내용:</label>
                        <textarea id="partsReviewContent" name="partsReviewContent" placeholder="리뷰 내용을 작성해주세요."
                                  required></textarea>
                    </div>

                    <!-- 각 부품의 ID는 URL에서 추출하여 자동으로 입력 -->
                    <input id="cpuId" name="cpuId" type="hidden" value="">
                    <input id="cpucoolerId" name="cpucoolerId" type="hidden" value="">
                    <input id="motherboardId" name="motherboardId" type="hidden" value="">
                    <input id="memoryId" name="memoryId" type="hidden" value="">
                    <input id="storageId" name="storageId" type="hidden" value="">
                    <input id="videocardId" name="videocardId" type="hidden" value="">
                    <input id="powersupplyId" name="powersupplyId" type="hidden" value="">
                    <input id="coverId" name="coverId" type="hidden" value="">

                    <div>
                        <button type="submit">리뷰 저장</button>
                    </div>
                </form>
            </div>


            <!-- 리뷰 목록 -->
            <div class="review-list">
                <h3>리뷰 목록</h3>
                <table>
                    <thead>
                    <tr>
                        <th>작성자</th>
                        <th>리뷰 제목</th>
                        <th>리뷰 내용</th>
                        <th>별점</th>
                        <th>작성 날짜</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody id="review-list-body">
                    <!-- 실제 데이터로 채워질 부분 -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<!--푸터-->
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>