<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${part.name} + ' 상세 정보'">Part Detail</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <link href="../../static/css/partDetail.css" rel="stylesheet" th:href="@{/css/partDetail.css}">
    <link href="../../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body id="partDetail-body">
<!-- Header Fragment 포함 -->
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <a class="titleName" th:href="@{'/part/' + ${tableName}}"><h1 class="container-like">PartDetail</h1></a>

        <div class="container">
            <!--null값 이미지 처리-->
            <label class="partsTitle">
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl != null}"
                     th:src="${part.imageUrl}" />
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl == null && tableName == 'cpu'}"
                     th:src="@{/images/nav-cpu.png}" />
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl == null && tableName == 'cpucooler'}"
                     th:src="@{/images/nav-cpucooler.png}" />
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl == null && tableName == 'motherboard'}"
                     th:src="@{/images/nav-motherboard.png}" />
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl == null && tableName == 'memory'}"
                     th:src="@{/images/nav-memory.png}" />
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl == null && tableName == 'storage'}"
                     th:src="@{/images/nav-storage.png}" />
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl == null && tableName == 'videocard'}"
                     th:src="@{/images/nav-videocard.png}" />
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl == null && tableName == 'powersupply'}"
                     th:src="@{/images/nav-powersupply.png}" />
                <img alt="Part Image"
                     class="normal-image"
                     th:if="${part.imageUrl == null && tableName == 'cover'}"
                     th:src="@{/images/nav-cover.png}" />

                <h2 style="margin: 32px 0 48px 0"
                    th:text="${tableName} + ' : ' + ${part.name}">Part Detail</h2>
            </label>
            <table>

                <!-- 공통 속성들 -->
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.id}">ID</td>
                    <td th:text="${part.name}">Name</td>
                    <td th:text="${part.manufacturer}">Manufacturer</td>
                    <td th:text="${'$ ' + part.price}">Price</td>
                </tr>
                </tbody>
            </table>
            <table th:if="${tableName == 'cpu'}">

                <!-- CpuDTO 속성들 -->
                <thead>
                <tr>
                    <th>Socket</th>
                    <th>TDP</th>
                    <th>Core Count</th>
                    <th>Thread Count</th>
                    <th>Performance Core Clock</th>
                    <th>Performance Core Boost Clock</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.cpuSocket}">Socket</td>
                    <td th:text="${part.cpuTdp + ' W'}">TDP</td>
                    <td th:text="${part.cpuCoreCount}">Core Count</td>
                    <td th:text="${part.cpuThreadCount}">Thread Count</td>
                    <td th:text="${part.cpuPerformanceCoreClock}">Performance Core Clock</td>
                    <td th:text="${part.cpuPerformanceCoreBoostClock}">Performance Core Boost Clock</td>
                </tr>
                </tbody>
            </table>
            <table th:if="${tableName == 'cpucooler'}">

                <!-- CpuCoolerDTO 속성들 -->
                <thead>
                <tr>
                    <th>CPUCooler Socket</th>
                    <th>CPUCooler height</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.cpuCoolerMotherboardSockets}" style="width: 60%">CPU Motherboard Socket</td>
                    <td th:text="${part.cpuCoolerHeight + ' mm'}">CpuCooler Height</td>
                </tr>
                </tbody>
            </table>
            <table th:if="${tableName == 'videocard'}">

                <!-- VideoCardDTO 속성들 -->
                <thead>
                <tr>
                    <th>Length</th>
                    <th>TDP</th>
                    <th>Memory</th>
                    <th>Chipset</th>
                    <th>Core Clock</th>
                    <th>Boost Clock</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.videoCardLength + ' mm'}">Video Card Length</td>
                    <td th:text="${part.videoCardTdp + ' W'}">Video Card TDP</td>
                    <td th:text="${part.videoCardMemory + ' GB'}">Video Card Memory</td>
                    <td th:text="${part.videoCardChipset}">Video Card Chipset</td>
                    <td th:text="${part.videoCardCoreClock}">Core Clock</td>
                    <td th:text="${part.videoCardBoostClock}">Boost Clock</td>
                </tr>
                </tbody>
            </table>
            <table th:if="${tableName == 'memory'}">

                <!-- MemoryDTO 속성들 -->
                <thead>
                <tr>
                    <th>Memory Form Factor</th>
                    <th>Memory Module</th>
                    <th>Memory Speed</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.memoryFormFactor}">Memory Form Factor</td>
                    <td th:text="${part.memorySize + ' GB'}">Memory Module</td>
                    <td th:text="${part.memorySpeed}">Memory Speed</td>
                </tr>
                </tbody>
            </table>
            <table th:if="${tableName == 'storage'}">

                <!-- StorageDTO 속성들 -->
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Form Factor</th>
                    <th>Capacity</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.storageType}">Storage Type</td>
                    <td th:text="${part.storageFormFactor}">Storage Form Factor</td>
                    <td th:text="${part.storageCapacity}">Storage Capacity</td>
                </tr>
                </tbody>
            </table>
            <table th:if="${tableName == 'motherboard'}">

                <!-- MotherboardDTO 속성들 -->
                <thead>
                <tr>
                    <th>Socket CPU</th>
                    <th>Form Factor</th>
                    <th>Memory Type</th>
                    <th>Chipset</th>
                    <th>Memory Slot Count</th>
                    <th>M.2 Slot Count</th>
                    <th>Memory Max</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.motherboardSocketCpu}">Motherboard Socket CPU</td>
                    <td th:text="${part.motherboardFormFactor}">Motherboard Form Factor</td>
                    <td th:text="${part.motherboardMemoryType}">Motherboard Memory Type</td>
                    <td th:text="${part.motherboardChipset}">Motherboard Chipset</td>
                    <td th:text="${part.motherboardMemorySlotCount}">Motherboard Memory Slot Count</td>
                    <td th:text="${part.motherboardMdot2SlotCount}">Motherboard M.2 Slot Count</td>
                    <td th:text="${part.motherboardMemoryMax + ' GB'}">Motherboard Memory Max</td>
                </tr>
                </tbody>
            </table>
            <table th:if="${tableName == 'powersupply'}">

                <!-- PowerSupplyDTO 속성들 -->
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Wattage</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.powerSupplyType}">Power Supply Type</td>
                    <td th:text="${part.powerSupplyWattage + ' W'}">Power Supply Wattage</td>
                </tr>
                </tbody>
            </table>
            <table th:if="${tableName == 'cover'}">

                <!-- CoverDTO 속성들 -->
                <thead>
                <tr>
                    <th>Motherboard formfactor</th>
                    <th>Max Video Card Length</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${part.coverMotherboardFormFactor}">Cover Motherboard Form Factor</td>
                    <td th:text="${part.coverMaxVideoCardLength + ' mm'}">Cover Max Video Card Length</td>
                </tr>
                </tbody>
            </table>
            <!--파츠 디테일 아래 버튼-->
            <div class="partsButton-container">
                <div class="left-buttons">
                    <a class="a-button lightblue-button" th:href="@{'/part/' + ${tableName}}">Back to List</a>
                </div>
                <div class="right-buttons">
                    <button class=" lightblue-button" onclick="location.href='/cart'">Cart</button>
                    <button class="main-button" onclick="addToCart(this)" th:data-id="${part.id}"
                            th:data-table-name="${tableName}">
                        Add to cart
                    </button>
                </div>
            </div>
            <!-- 담기버튼을 누르면 tableName알맞는 장바구니의 id값에 담긴다. -->

            <!-- 리플 작성 폼 시작 -->
            <form class="reviewForm" id="reviewForm">
                <div class="inputWrapper">
                    <!--제목-->
                    <label class="replyLabel" for="partsReviewTitle">Title</label>
                    <textarea id="partsReviewTitle" name="partsReviewTitle" placeholder="Please enter the review title."
                              required
                              type="text"></textarea>
                </div>
                <!--내용-->
                <div class="inputWrapper">
                    <label class="replyLabel" for="partsReviewContent">Content</label>
                    <textarea id="partsReviewContent" name="partsReviewContent"
                              placeholder="Please enter the review content."
                              required></textarea>
                    <!-- 댓글 입력 필드 -->
                </div>

                <!-- 각 부품의 ID는 URL에서 추출하여 자동으로 입력 -->
                <input id="cpuId" name="cpuId" type="hidden" value="">
                <input id="cpucoolerId" name="cpucoolerId" type="hidden" value="">
                <input id="motherboardId" name="motherboardId" type="hidden" value="">
                <input id="memoryId" name="memoryId" type="hidden" value="">
                <input id="storageId" name="storageId" type="hidden" value="">
                <input id="videocardId" name="videocardId" type="hidden" value="">
                <input id="powersupplyId" name="powersupplyId" type="hidden" value="">
                <input id="coverId" name="coverId" type="hidden" value="">

                <div class="starAndSave">
                    <div class="stars" id="ratingStars">
                        <span data-value="1">&#9733;</span>
                        <span data-value="2">&#9733;</span>
                        <span data-value="3">&#9733;</span>
                        <span data-value="4">&#9733;</span>
                        <span data-value="5">&#9733;</span>
                    </div>
                    <input id="partsReviewRating" name="partsReviewRating" required type="hidden">
                    <button class="main-button" type="submit">Save</button>
                </div>
            </form>
            <!-- 리뷰 목록 -->
            <div class="review-list">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 7%; text-align: center; padding: 8px 0">Author</th>
                        <th style="width: 15%; text-align: center; padding: 8px 0">Review Title</th>
                        <th style="width: 35%; text-align: center; padding: 8px 0">Review Content</th>
                        <th style="width: 10%; text-align: center; padding: 8px 0">Rating</th>
                        <th style="width: 12%; text-align: center; padding: 8px 0">Date Created</th>
                        <th style="width: 8%; text-align: center; padding: 8px 0"></th>
                        <th style="width: 13%; text-align: center; padding: 8px 0"></th>
                    </tr>
                    </thead>
                    <tbody id="review-list-body">
                    <!-- 실제 데이터로 채워질 부분 -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<!--푸터-->
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
<script src="../../static/js/partDetail.js" th:src="@{/js/partDetail.js}"></script>

</html>