<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tableName} + ' List'">Parts List</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <link href="../../static/css/partList.css" rel="stylesheet" th:href="@{/css/partList.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <style>
        .part-item {
            display: flex;
            align-items: center; /* 이미지와 텍스트를 수직 중앙 정렬 */
            gap: 10px; /* 이미지와 텍스트 사이 간격 */
        }
    </style>
</head>
<body id="partList-body">
<!-- Header Fragment 포함 -->
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <div class="container">
            <h1 id="partList-id" th:text="${tableName} + ' List'">Parts List</h1>
            <table>
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Manufacturer</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="part : ${parts}">
                        <td th:text="${part.id}">1</td>
                        <td class="part-item">
                            <img class="small-image" alt="part image" th:src="@{/images/nav-cpu.png}">
                            <!-- 제목을 클릭하면 partDetail.html로 이동 -->
                            <a id="partList-Atag" th:href="@{/part/{tableName}/{id}(tableName=${tableName}, id=${part.id})}"
                               th:text="${part.name}">Part Name</a>
                        </td>
                        <td th:text="${part.manufacturer}">Brand Name</td>
                        <td th:text="${part.price}">Price</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<!--푸터-->
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>