<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>PcSymphony_Join</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link href="../../static/css/login-join.css" th:href="@{/css/login-join.css}" rel="stylesheet">-->
    <script src="../../static/js/main.min.js" th:src="@{/js/main.min.js}"></script>
</head>
<body>
<div class="body-wrap">
    <header class="site-header">
        <div class="container">
            <div class="site-header-inner">
                <div class="brand"><h1 class="m-0"><a href="home.html"><img alt="PcSymphony" height="32"
                                                                            src="../../static/images/logo.svg"
                                                                            th:src="@{/images/logo.svg}"
                                                                            width="32"></a></h1></div>
            </div>
        </div>
    </header>
    <main class="site-content">
        <section class="signin section">
            <div class="container-xs">
                <div class="signin-inner section-inner">
                    <!--회원가입 페이지 제목-->
                    <div class="section-header center-content"><h1 class="m-0">Welcome! </h1></div>
                    <div class="tiles-wrap">
                        <div class="tiles-item">
                            <div class="tiles-item-inner">
                                <!--회원가입 정보 받는 방식-->
                                <form id="joinForm" method="post" th:action="@{/member/join}">
                                    <fieldset>
                                        <!--ID-->
                                        <div class="mb-12">
                                            <label class="form-label screen-reader" for="memberId">ID</label>
                                            <input class="form-input" type="text" name="memberId" id="memberId"  placeholder="ID" required>
                                        </div>
                                        <!--Password-->
                                        <div class="mb-12">
                                            <label class="form-label screen-reader" for="memberPw">Password</label>
                                            <input class="form-input" type="password" name="memberPw" id="memberPw"  placeholder="Password" required>
                                        </div>
                                        <!--이름-->
                                        <div class="mb-12">
                                            <label class="form-label screen-reader" for="memberName">이름</label>
                                            <input class="form-input" type="text" name="memberName" id="memberName"  placeholder="이름" required>
                                        </div>
                                        <!--이메일-->
                                        <div class="mb-12">
                                            <label class="form-label screen-reader" for="email">이메일</label>
                                            <input class="form-input" type="text" name="email" id="email"  placeholder="email" required>
                                        </div>
                                        <!--주소-->
                                        <div class="mb-12">
                                            <label class="form-label screen-reader" for="address">주소</label>
                                            <input class="form-input" type="text" name="address" id="address"  placeholder="주소" required>
                                        </div>
                                        <!--성별-->
                                        <td>
                                            <label class="form-label" for="male">
                                                <input type="radio" name="gender" id="male" value="남성" required> 남성
                                            </label>
                                            <label class="form-label" for="female">
                                                <input type="radio" name="gender" id="female" value="여성" required> 여성
                                            </label>
                                        </td>
                                        <!--회원 가입 버튼-->
                                        <div class="mt-24 mb-32">
                                            <button class="button button-primary button-block" type="submit">   가입</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="signin-bottom has-top-divider">
                                    <div class="pt-32 text-xs center-content text-color-low">이미 계정이 있으신가요?
                                        <a class="func-link" href="/member/login">Login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

</body>
</html>