<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>PcSymphony_Login</title>
  <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
      <link href="../../static/css/login-join.css" th:href="@{/css/login-join.css}" rel="stylesheet">
  <script src="../../static/js/main.min.js" th:src="@{/js/main.min.js}"></script>
</head>
<body>
<div class="body-wrap">
  <header class="site-header">
    <div class="container">
      <div class="site-header-inner">
        <div class="brand"><h1 class="m-0"><a href="/"><img alt="PcSymphony" height="60"
                                                                    src="../../static/images/pc-Icon.png"
                                                                    th:src="@{/images/pc-Icon.png}"
                                                                    width="60"></a></h1></div>
      </div>
    </div>
  </header>
  <main class="site-content">
    <section class="signin section">
      <div class="container-xs">
        <div class="signin-inner section-inner">
          <!--로그인 폼 제목-->
          <div class="section-header center-content"><h1 class="m-0">Welcome back </h1></div>
          <div class="tiles-wrap">
            <div class="tiles-item">
              <div class="tiles-item-inner">
                <!--로그인 정보 받아오는 방식-->
                <form id="loginForm" th:action="@{/member/login}" method="post">
                  <fieldset>
                    <!-- ID -->
                    <div class="mb-12">
                      <label class="form-label screen-reader" for="id">ID</label>
                      <input
                              class="form-input"
                              type="text"
                              name="id"
                              id="id"
                              placeholder="ID"
                              required
                              oninvalid="this.setCustomValidity('Please enter your ID')"
                              oninput="this.setCustomValidity('')">
                    </div>

                    <!-- PASSWORD -->
                    <div class="mb-12">
                      <label class="form-label screen-reader" for="password">Password</label>
                      <input
                              class="form-input"
                              type="password"
                              name="password"
                              id="password"
                              placeholder="Password"
                              required
                              oninvalid="this.setCustomValidity('Please enter your password')"
                              oninput="this.setCustomValidity('')">
                    </div>
                    <!--로그인 버튼-->
                    <div class="mt-24 mb-32">
                      <button id="loginButton" class="button button-primary button-block" type="submit">Login</button>
                    </div>
                  </fieldset>
                </form>
                <!-- 로그인 실패 메시지 -->
                <div th:if="${param.error}">
                  <p style="color: red; font-size: 14px;">Incorrect username or password. Please try again.</p>
                </div>
                <div class="signin-bottom has-top-divider">
                  <div class="pt-32 text-xs center-content text-color-low">Don't you have an account?
                    <a class="func-link" th:href="@{/member/join}">Join Us</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
</body>
</html>