<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>[ 로그인 ]</h1>
<form>
<!--  id="loginForm" th:action="@{/member/login}" method="post"-->
  <table>
    <tr>
      <th>ID</th>
      <td><input type="text" name="id" id="id"></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><input type="password" name="password" id="password">
      </td>
    </tr>
    <tr>
      <th></th>
      <td><button type="submit">Login</button></td>
    </tr>
  </table>
</form>
</body>
</html>