<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PcReview List</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <link href="../../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}">
    <link href="../../static/css/partList.css" rel="stylesheet" th:href="@{/css/partList.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <h1 class="container-like">PcReview</h1>
        <div class="container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <!-- pcReviewPage.content에서 데이터 반복 -->
                <tr th:each="pcReview : ${pcReviewPage.content}">
                    <td th:text="${pcReview.pcreviewId}">id</td>
                    <td>
                        <!-- 제목을 클릭하면 상세 페이지로 이동 -->
                        <a th:href="@{/pcreview/read/{id}(id=${pcReview.pcreviewId})}"
                           th:text="${pcReview.pcreviewTitle}">Part Name</a>
                    </td>
                    <td th:text="${pcReview.pcreviewDate}">Date</td>
                </tr>
                </tbody>
            </table>

            <!-- 페이지네이션 -->
            <div class="pagination">
                <ul>
                    <li th:if="${pcReviewPage.hasPrevious()}">
                        <a th:href="@{/list(page=${pcReviewPage.number - 1})}">Previous</a>
                    </li>
                    <li th:each="pageNum : ${#numbers.sequence(0, pcReviewPage.totalPages - 1)}"
                        th:classappend="${pageNum == pcReviewPage.number} ? 'active'">
                        <a th:href="@{/list(page=${pageNum})}" th:text="${pageNum + 1}">1</a>
                    </li>
                    <li th:if="${pcReviewPage.hasNext()}">
                        <a th:href="@{/list(page=${pcReviewPage.number + 1})}">Next</a>
                    </li>
                </ul>
            </div>

            <div class="button-container">
                <button class="blue-button"><a href="/cart/">Go to Cart</a></button>
            </div>

        </div>
    </main>
</div>
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>