<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <link href="../../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}">

    <link href="../../static/css/pcReviewRead.css" rel="stylesheet" th:href="@{/css/pcReviewRead.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <title>PC리뷰 read</title>

</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <a href="/pcreview/list"><h1 class="container-like">PC Review</h1></a>
        <div class="container">
            <div>
                <!-- 메인 컨테이너 -->
                <main class="main-container">
                    <div class="content-section">
                        <aside class="leftSideBar">
                            <!-- 업로드한 이미지를 표시 -->
                            <div class="guideImage" id="uploadedImages">
                                <img alt="Uploaded Image" th:src="@{/images/nav-case.png}">
                            </div>
                        </aside>
                        <div class="content-details" id="pcReviewRow" th:data-id="${pcReview.pcreviewId}">
                            <div class="title-header">
                                <!-- 전체 리뷰의 제목 -->
                                <div class="community-title" id="pcReviewTitle" th:text="${pcReview.pcreviewTitle}">Title</div>
                                <!-- 게시물 정보 -->
                                <div class="pcReviewInfo" id="pcReviewInfo">
                                    Author. <span id="pcReviewUserId" th:text="${pcReview.userId}"></span>
                                    &nbsp;&nbsp;  <span id="pcReviewDate" th:text="${#temporals.format(pcReview.pcreviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                            </div>
                            <!-- 게시물 내용 -->
                            <div class="community-content" id="pcReviewContent" th:text="${pcReview.pcreviewContent}">Content</div>
                            <div class="button-container">
                                <button class="main-small-button" id="editPcReviewButton">Edit</button>
                            </div>
                        </div>

                        <!-- update -->
                        <div class="form-row content-details" id="editPcReviewRow">
                            <!--전체 리뷰의 제목이 들어감-->
                            <div class="title-header">
                                <textarea class="community-title" id="editPcReviewTitle" placeholder="title" type="text"
                                          value=""></textarea>
                                <div class="pcReviewInfo">
                                    <!-- 게시물 정보 -->
                                    <!--리뷰ID-->
                                    Author. <span th:text="${pcReview.userId}"></span>
                                    &nbsp;&nbsp;  <span id="pcReviewDate2" th:text="${#temporals.format(pcReview.pcreviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                            </div>
                            <!-- 게시물 내용 -->
                            <textarea class="community-content commnunity-content-update" id="editPcReviewContent"
                                      placeholder="내용"></textarea>
                            <div class="button-container">
                                <button class="delete-small-button" id="cancelPcReviewButton">Cancel</button>
                                <button class="main-small-button" id="savePcReviewButton">Submit</button>
                            </div>
                        </div>

                    </div>
                </main>
            </div>


            <!--파츠 리뷰-->
            <div class="community-title">PartsReview</div>

            <!-- CPU리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="CPU Image" class="small-image" th:src="${cart.cpu.imageUrl != null ? cart.cpu.imageUrl : 'https://cdn-icons-png.flaticon.com/512/11327/11327239.png'}">
                    <span th:text="${pcReview.cpuReview.cpu.name}">[CPU Name]</span>
                </label></legend>
                <div id="cpuRow" th:data-id="${pcReview.cpuReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="cpuTitle" th:text="${pcReview.cpuReview.partsReviewTitle}">CPU Review Title</div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="cpuDate" th:text="${#temporals.format(pcReview.cpuReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="cpuContent" th:text="${pcReview.cpuReview.partsReviewContent}">CPU Review Content</div>
                    <div>Rating</div>
                    <div id="cpuRating" th:text="${pcReview.cpuReview.partsReviewRating}">CPU Review Rating</div>
                    <div class="button-container">
                        <button class="main-small-button" id="editCpuButton" th:if="${pcReview.userId == #authentication.name}">Edit</button>
                    </div>
                </div>
                <div class="form-row" id="editCpuRow">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editCpuTitle" type="text"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="cpuDate2" th:text="${#temporals.format(pcReview.cpuReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editCpuContent" type="text"></textarea>
                    <div>CPU Review Rating</div>
                    <div>
                        <select id="editCpuRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelCpuButton">Cancel</button>
                        <button class="main-small-button" id="saveCpuButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- cpucooler리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="cpucooler Image" class="small-image" th:src="${cart.cpucooler.imageUrl != null ? cart.cpucooler.imageUrl : 'https://cdn-icons-png.flaticon.com/512/11327/11327239.png'}">
                    <span th:text="${pcReview.cpucoolerReview.cpucooler.name}">[cpucooler Name]</span>
                </label></legend>
                <div id="cpucoolerRow" th:data-id="${pcReview.cpucoolerReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="cpucoolerTitle" th:text="${pcReview.cpucoolerReview.partsReviewTitle}">cpucooler Review Title</div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="cpucoolerDate" th:text="${#temporals.format(pcReview.cpucoolerReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="cpucoolerContent" th:text="${pcReview.cpucoolerReview.partsReviewContent}">cpucooler Review Content</div>
                    <div>Rating</div>
                    <div id="cpucoolerRating" th:text="${pcReview.cpucoolerReview.partsReviewRating}">cpucooler Review Rating</div>
                    <div class="button-container">
                        <button class="main-small-button" id="editCpucoolerButton" th:if="${pcReview.userId == #authentication.name}">Edit</button>
                    </div>
                </div>
                <div class="form-row" id="editCpucoolerRow">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editCpucoolerTitle" type="text"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="cpucoolerDate2" th:text="${#temporals.format(pcReview.cpucoolerReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editCpucoolerContent" type="text"></textarea>
                    <div>cpucooler Review Rating</div>
                    <div>
                        <select id="editCpucoolerRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelCpucoolerButton">Cancel</button>
                        <button class="main-small-button" id="saveCpucoolerButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Motherboard 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Motherboard Image" class="small-image" th:src="${cart.motherboard.imageUrl != null ? cart.motherboard.imageUrl : 'https://cdn-icons-png.flaticon.com/512/11327/11327239.png'}">
                    <span th:text="${pcReview.motherboardReview.motherboard.name}">[Motherboard Name]</span>
                </label></legend>
                <div id="motherboardRow" th:data-id="${pcReview.motherboardReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="motherboardTitle" th:text="${pcReview.motherboardReview.partsReviewTitle}">Motherboard Review Title</div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="motherboardDate" th:text="${#temporals.format(pcReview.motherboardReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="motherboardContent" th:text="${pcReview.motherboardReview.partsReviewContent}">Motherboard Review Content</div>
                    <div>Rating</div>
                    <div id="motherboardRating" th:text="${pcReview.motherboardReview.partsReviewRating}">Motherboard Review Rating</div>
                    <div class="button-container">
                        <button class="main-small-button" id="editMotherboardButton" th:if="${pcReview.userId == #authentication.name}">Edit</button>
                    </div>
                </div>
                <div class="form-row" id="editMotherboardRow">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editMotherboardTitle" type="text"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="motherboardDate2" th:text="${#temporals.format(pcReview.motherboardReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editMotherboardContent" type="text"></textarea>
                    <div>Motherboard Review Rating</div>
                    <div>
                        <select id="editMotherboardRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelMotherboardButton">Cancel</button>
                        <button class="main-small-button" id="saveMotherboardButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Memory 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Memory Image" class="small-image" th:src="${cart.memory.imageUrl != null ? cart.memory.imageUrl : 'https://cdn-icons-png.flaticon.com/512/11327/11327239.png'}">
                    <span th:text="${pcReview.memoryReview.memory.name}">[Memory Name]</span>
                </label></legend>
                <div id="memoryRow" th:data-id="${pcReview.memoryReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="memoryTitle" th:text="${pcReview.memoryReview.partsReviewTitle}">Memory Review Title</div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="memoryDate" th:text="${#temporals.format(pcReview.memoryReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="memoryContent" th:text="${pcReview.memoryReview.partsReviewContent}">Memory Review Content</div>
                    <div>Rating</div>
                    <div id="memoryRating" th:text="${pcReview.memoryReview.partsReviewRating}">Memory Review Rating</div>
                    <div class="button-container">
                        <button class="main-small-button" id="editMemoryButton" th:if="${pcReview.userId == #authentication.name}">Edit</button>
                    </div>
                </div>
                <div class="form-row" id="editMemoryRow">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editMemoryTitle" type="text"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="memoryDate2" th:text="${#temporals.format(pcReview.memoryReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editMemoryContent" type="text"></textarea>
                    <div>Memory Review Rating</div>
                    <div>
                        <select id="editMemoryRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelMemoryButton">Cancel</button>
                        <button class="main-small-button" id="saveMemoryButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Storage 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Storage Image" class="small-image" th:src="${cart.storage.imageUrl != null ? cart.storage.imageUrl : 'https://cdn-icons-png.flaticon.com/512/11327/11327239.png'}">
                    <span th:text="${pcReview.storageReview.storage.name}">[Storage Name]</span>
                </label></legend>
                <div id="storageRow" th:data-id="${pcReview.storageReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="storageTitle" th:text="${pcReview.storageReview.partsReviewTitle}">Storage Review Title</div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="storageDate" th:text="${#temporals.format(pcReview.storageReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="storageContent" th:text="${pcReview.storageReview.partsReviewContent}">Storage Review Content</div>
                    <div>Rating</div>
                    <div id="storageRating" th:text="${pcReview.storageReview.partsReviewRating}">Storage Review Rating</div>
                    <div class="button-container">
                        <button class="main-small-button" id="editStorageButton" th:if="${pcReview.userId == #authentication.name}">Edit</button>
                    </div>
                </div>
                <div class="form-row" id="editStorageRow">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editStorageTitle" type="text"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="storageDate2" th:text="${#temporals.format(pcReview.storageReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editStorageContent" type="text"></textarea>
                    <div>Storage Review Rating</div>
                    <div>
                        <select id="editStorageRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelStorageButton">Cancel</button>
                        <button class="main-small-button" id="saveStorageButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Video Card 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Video Card Image" class="small-image" th:src="${cart.videocard.imageUrl != null ? cart.videocard.imageUrl : 'https://cdn-icons-png.flaticon.com/512/11327/11327239.png'}">
                    <span th:text="${pcReview.videocardReview.videocard.name}">[Video Card Name]</span>
                </label></legend>
                <div id="videocardRow" th:data-id="${pcReview.videocardReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="videocardTitle" th:text="${pcReview.videocardReview.partsReviewTitle}">Video Card Review Title</div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="videocardDate" th:text="${#temporals.format(pcReview.videocardReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="videocardContent" th:text="${pcReview.videocardReview.partsReviewContent}">Video Card Review Content</div>
                    <div>Rating</div>
                    <div id="videocardRating" th:text="${pcReview.videocardReview.partsReviewRating}">Video Card Review Rating</div>
                    <div class="button-container">
                        <button class="main-small-button" id="editVideocardButton" th:if="${pcReview.userId == #authentication.name}">Edit</button>
                    </div>
                </div>
                <div class="form-row" id="editVideocardRow">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editVideocardTitle" type="text"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="videocardDate2" th:text="${#temporals.format(pcReview.videocardReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editVideocardContent" type="text"></textarea>
                    <div>Video Card Review Rating</div>
                    <div>
                        <select id="editVideocardRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelVideocardButton">Cancel</button>
                        <button class="main-small-button" id="saveVideocardButton">Submit</button>
                    </div>
                </div>
            </fieldset>
            <!-- Power Supply 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Power Supply Image" class="small-image" th:src="${cart.powersupply.imageUrl != null ? cart.powersupply.imageUrl : 'https://cdn-icons-png.flaticon.com/512/11327/11327239.png'}">
                    <span th:text="${pcReview.powersupplyReview.powersupply.name}">[Power Supply Name]</span>
                </label></legend>
                <div id="powersupplyRow" th:data-id="${pcReview.powersupplyReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="powersupplyTitle" th:text="${pcReview.powersupplyReview.partsReviewTitle}">Power Supply Review Title</div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="powersupplyDate" th:text="${#temporals.format(pcReview.powersupplyReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="powersupplyContent" th:text="${pcReview.powersupplyReview.partsReviewContent}">Power Supply Review Content</div>
                    <div>Rating</div>
                    <div id="powersupplyRating" th:text="${pcReview.powersupplyReview.partsReviewRating}">Power Supply Review Rating</div>
                    <div class="button-container">
                        <button class="main-small-button" id="editPowersupplyButton" th:if="${pcReview.userId == #authentication.name}">Edit</button>
                    </div>
                </div>
                <div class="form-row" id="editPowersupplyRow">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editPowersupplyTitle" type="text"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="powersupplyDate2" th:text="${#temporals.format(pcReview.powersupplyReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editPowersupplyContent" type="text"></textarea>
                    <div>Power Supply Review Rating</div>
                    <div>
                        <select id="editPowersupplyRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelPowersupplyButton">Cancel</button>
                        <button class="main-small-button" id="savePowersupplyButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Cover 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Cover Image" class="small-image" th:src="${cart.cover.imageUrl != null ? cart.cover.imageUrl : 'https://cdn-icons-png.flaticon.com/512/11327/11327239.png'}">
                    <span th:text="${pcReview.coverReview.cover.name}">[Cover Name]</span>
                </label></legend>
                <div id="coverRow" th:data-id="${pcReview.coverReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="coverTitle" th:text="${pcReview.coverReview.partsReviewTitle}">Cover Review Title</div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="coverDate" th:text="${#temporals.format(pcReview.coverReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="coverContent" th:text="${pcReview.coverReview.partsReviewContent}">Cover Review Content</div>
                    <div>Rating</div>
                    <div id="coverRating" th:text="${pcReview.coverReview.partsReviewRating}">Cover Review Rating</div>
                    <div class="button-container">
                        <button class="main-small-button" id="editCoverButton" th:if="${pcReview.userId == #authentication.name}">Edit</button>
                    </div>
                </div>
                <div class="form-row" id="editCoverRow">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editCoverTitle" type="text"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="coverDate2" th:text="${#temporals.format(pcReview.coverReview.partsReviewDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editCoverContent" type="text"></textarea>
                    <div>Cover Review Rating</div>
                    <div>
                        <select id="editCoverRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelCoverButton">Cancel</button>
                        <button class="main-small-button" id="saveCoverButton">Submit</button>
                    </div>
                </div>
            </fieldset>



            <div class="content">
                <!-- 기존 PC 리뷰 상세 테이블 여기에 위치 -->
            </div>

            <!-- 댓글 입력 폼 -->
            <form class="replyForm comment-form" id="commentForm">
                <div class="inputWrapper">
                    <label class="replyLabel" for="pcReviewCommentContent">리플 입력</label>
                    <textarea id="pcReviewCommentContent" name="commentContent" placeholder="댓글을 입력하세요"></textarea>
                    <!--댓글 입력 필드-->
                </div>
                <button class="main-small-button" id="commentWriteButton" type="button">Submit</button>
            </form>

            <!-- 댓글 목록 출력 -->
            <table class="reply comment" id="commentTable">
                <thead>
                <tr>
                    <th style="width: 20%">작성자</th>
                    <th style="width: 60%">내용</th>
                    <th style="width: 20%"></th>
                </tr>
                </thead>
                <tbody>
                <!-- 댓글 목록은 여기에서 동적으로 추가됩니다. -->
                </tbody>
            </table>
            <div class="button-footerContainer">
                <!-- 뒤로가기 버튼 -->
                <form th:action="@{/pcreview/list}">
                    <button class="sub-button" type="submit">List</button>
                </form>
                <!--리뷰 삭제 버튼-->
                <form method="POST" th:action="@{/pcreview/delete}"
                      th:if="${pcReview.userId == #authentication.name}">
                    <input name="pcreviewId" th:value="${pcReview.pcreviewId}" type="hidden"/>
                    <button class="delete-button" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </main>
</div>
<!-- pcReviewId -->
<input disabled id="userId" th:value="${#authentication.name}" type="hidden">
<input disabled id="pcReviewId" th:value="${pcReview.pcreviewId}" type="hidden">
<script crossorigin="anonymous"
        integrity="sha384-UG8ao2jwOWB7/oDdObZc6ItJmwUkR/PfMyt9Qs5AwX7PsnYn1CRKCTWyncPTWvaS"
        src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
<script src="../../static/js/pcReviewRead.js" th:src="@{/js/pcReviewRead.js}"></script>

</html>