<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <link href="../../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}">

    <link href="../../static/css/pcReviewWrite.css" rel="stylesheet" th:href="@{/css/pcReviewWrite.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <!--    <script src="../../static/js/pcReviewWrite.js" th:src="@{/js/pcReviewWrite.js}"></script>-->
    <title>PC 리뷰 작성</title>
</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <a class="pcReviewTitleName" href="/pcReview/pcReviewList"><h1 class="container-like">PC 리뷰</h1></a>
        <div class="container">

            <form action="/pcreview/write" method="post">

                <!-- 전체 리뷰 제목 및 내용 -->
                <fieldset class="pcReviewContent" style="margin-top: 0px">
                    <legend><h5>전체 리뷰</h5></legend>
                    <label for="pcReviewTitle">전체 리뷰 제목:</label>
                    <br>
                    <input class="pcReviewTitle" id="pcReviewTitle" name="pcreviewTitle" placeholder="제목을 입력하세요"
                           required
                           type="text">
                    <br>
                    <textarea class="pcReviewTextarea" id="pcReviewContent" name="pcreviewContent"
                              placeholder="내용을 입력하세요" required
                              rows="5"></textarea>
                    <br>
                    <!--아직 기능 연결 안됨-->
                    <label for="imageUpload">이미지 업로드:</label>
                    <input accept="image/*" id="imageUpload" name="imageUpload" type="file">
                    <br>
                    <div id="uploadedImages" style="margin-top: 10px; display: flex; align-items: center;">
                        <!-- 업로드한 이미지를 작은 썸네일로 표시 -->
                    </div>
                    <label for="pcReviewRating">별점:</label>
                    <select id="pcReviewRating" name="pcReviewRating" required>
                        <option value="1">1점</option>
                        <option value="2">2점</option>
                        <option value="3">3점</option>
                        <option value="4">4점</option>
                        <option value="5">5점</option>
                    </select>
                </fieldset>

                <!--partsReview-->
                <fieldset class="pcReviewContent">
                    <legend><h5>파츠 리뷰</h5></legend>
                    <!-- CPU 리뷰 -->
                    <fieldset style="">
                        <label for="cpuTitle" th:text="'CPU 제목: ' + ${cart.cpu.name}">CPU 리뷰:</label>
                        <br>
                        <input class="pcReviewTitle" id="cpuTitle" name="partReviews[cpu].title"
                               placeholder="제목을 입력하세요." required
                               type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="cpuContent" name="partReviews[cpu].content" placeholder="내용을 입력하세요"
                                  required rows="3"></textarea>
                        <br>
                        <label for="cpuRating">별점:</label>
                        <select id="cpuRating" name="partReviews[cpu].rating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </fieldset>

                    <!-- CPU Cooler 리뷰 -->
                    <fieldset>
                        <label for="cpuCoolerTitle" th:text="'CPU Cooler 제목: ' + ${cart.cpucooler.name}">CPU Cooler
                            리뷰:</label>
                        <br>
                        <input class="pcReviewTitle" id="cpuCoolerTitle" name="partReviews[cpucooler].title" placeholder="제목을 입력하세요."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="cpuCoolerContent"
                                  name="partReviews[cpucooler].content" placeholder="내용을 입력하세요"
                                  required rows="3"></textarea>
                        <br>
                        <label for="cpuCoolerRating">별점:</label>
                        <select id="cpuCoolerRating" name="partReviews[cpucooler].rating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </fieldset>

                    <!-- Motherboard 리뷰 -->
                    <fieldset>
                        <label for="motherboardTitle" th:text="'Motherboard 제목: ' + ${cart.motherboard.name}">Motherboard
                            리뷰:</label>
                        <br>
                        <input class="pcReviewTitle" id="motherboardTitle" name="partReviews[motherboard].title"
                               placeholder="제목을 입력하세요." required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="motherboardContent"
                                  name="partReviews[motherboard].content" placeholder="내용을 입력하세요"
                                  required rows="3"></textarea>
                        <br>
                        <label for="motherboardRating">별점:</label>
                        <select id="motherboardRating" name="partReviews[motherboard].rating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </fieldset>

                    <!-- Memory 리뷰 -->
                    <fieldset>
                        <label for="memoryTitle" th:text="'Memory 제목: ' + ${cart.memory.name}">Memory 리뷰</label>
                        <br>
                        <input class="pcReviewTitle" id="memoryTitle" name="partReviews[memory].title" placeholder="제목을 입력하세요."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="memoryContent" name="partReviews[memory].content"
                                  placeholder="내용을 입력하세요"
                                  required rows="3"></textarea>
                        <br>
                        <label for="memoryRating">별점:</label>
                        <select id="memoryRating" name="partReviews[memory].rating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </fieldset>

                    <!-- Storage 리뷰 -->
                    <fieldset>
                        <label for="storageTitle" th:text="'Storage 제목: ' + ${cart.storage.name}">Storage 리뷰:</label>
                        <br>
                        <input class="pcReviewTitle" id="storageTitle" name="partReviews[storage].title" placeholder="제목을 입력하세요."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="storageContent" name="partReviews[storage].content"
                                  placeholder="내용을 입력하세요"
                                  required rows="3"></textarea>
                        <br>
                        <label for="storageRating">별점:</label>
                        <select id="storageRating" name="partReviews[storage].rating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </fieldset>

                    <!-- VideoCard 리뷰 -->
                    <fieldset>
                        <label for="videoCardTitle" th:text="'VideoCard 제목: ' + ${cart.videocard.name}">VideoCard
                            리뷰:</label>
                        <br>
                        <input class="pcReviewTitle" id="videoCardTitle" name="partReviews[videocard].title" placeholder="제목을 입력하세요."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="videoCardContent"
                                  name="partReviews[videocard].content" placeholder="내용을 입력하세요"
                                  required rows="3"></textarea>
                        <br>
                        <label for="videoCardRating">별점:</label>
                        <select id="videoCardRating" name="partReviews[videocard].rating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </fieldset>

                    <!-- PowerSupply 리뷰 -->
                    <fieldset>
                        <label for="powerSupplyTitle" th:text="'PowerSupply 제목: ' + ${cart.powersupply.name}">PowerSupply
                            리뷰:</label>
                        <br>
                        <input class="pcReviewTitle" id="powerSupplyTitle" name="partReviews[powersupply].title"
                               placeholder="제목을 입력하세요." required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="powerSupplyContent"
                                  name="partReviews[powersupply].content" placeholder="내용을 입력하세요"
                                  required rows="3"></textarea>
                        <br>
                        <label for="powerSupplyRating">별점:</label>
                        <select id="powerSupplyRating" name="partReviews[powersupply].rating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </fieldset>

                    <!-- Cover 리뷰 -->
                    <fieldset>
                        <label for="coverTitle" th:text="'Cover 제목: ' + ${cart.cover.name}">Cover 리뷰:</label>
                        <br>
                        <input class="pcReviewTitle" id="coverTitle" name="partReviews[cover].title" placeholder="제목을 입력하세요."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="coverContent" name="partReviews[cover].content"
                                  placeholder="내용을 입력하세요"
                                  required rows="3"></textarea>
                        <br>
                        <label for="coverRating">별점:</label>
                        <select id="coverRating" name="partReviews[cover].rating" required>
                            <option value="1">1점</option>
                            <option value="2">2점</option>
                            <option value="3">3점</option>
                            <option value="4">4점</option>
                            <option value="5">5점</option>
                        </select>
                    </fieldset>
                </fieldset>
                <div class="button-container" style="text-align: right">
                    <button class="gray-button" th:href="@{pcReview/pcReviewList}" type="button">취소</button>
                    <button class="blue-button" type="submit">등록</button>
                </div>
            </form>
        </div>
    </main>
</div>
</div>
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>