<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <link href="../../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}">

    <link href="../../static/css/pcReviewRead.css" rel="stylesheet" th:href="@{/css/pcReviewRead.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <title>PcSymphony</title>

</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <a href="/pcreview/list"><h1 class="container-like">PC Review</h1></a>
        <div class="container">
            <div>
                <!-- 메인 컨테이너 -->
                <main class="main-container">
                    <div class="content-section">
                        <aside class="leftSideBar">
                            <!-- 업로드한 이미지를 표시 -->
                            <div class="guideImage" id="uploadedImages">
                                <img alt="Uploaded Image" th:src="@{/images/nav-cover.png}">
                            </div>
                        </aside>
                        <div class="content-details" id="pcReviewRow" th:data-id="${pcReview.pcreviewId}">
                            <div class="title-header">
                                <!-- 전체 리뷰의 제목 -->
                                <div class="community-title" id="pcReviewTitle" th:text="${pcReview.pcreviewTitle}">
                                    Title
                                </div>
                                <!-- 게시물 정보 -->
                                <div class="pcReviewInfo" id="pcReviewInfo">
                                    No. <span id="pcReviewId" th:text="${pcReview.pcreviewId}"></span>
                                    Author: <span id="pcReviewUserId" th:text="${pcReview.userId}"></span>
                                    Date of Creation: <span id="pcReviewDate" th:text="${formattedDate}"></span>

                                </div>
                            </div>
                            <!-- 게시물 내용 -->
                            <div class="community-content" id="pcReviewContent" th:text="${pcReview.pcreviewContent}">
                                Content
                            </div>
                            <div class="button-container">
                                <button class="main-small-button" id="editPcReviewButton">Edit</button>
                            </div>
                        </div>

                        <!-- update -->
                        <div class="form-row content-details" id="editPcReviewRow">
                            <!--전체 리뷰의 제목이 들어감-->
                            <div class="title-header">
                                <textarea class="community-title" id="editPcReviewTitle" placeholder="title" type="text"
                                          value=""></textarea>
                                <div class="pcReviewInfo">
                                    <!-- 게시물 정보 -->
                                    <!--리뷰ID-->
                                    No.<span th:text="${pcReview.pcreviewId}"></span>
                                    Author: <span th:text="${pcReview.userId}"></span>
                                    Date of Creation: <span th:text="${formattedDate}"></span>
                                </div>
                            </div>
                            <!-- 게시물 내용 -->
                            <textarea class="community-content commnunity-content-update" id="editPcReviewContent"
                                      placeholder="내용"></textarea>
                            <div class="button-container">
                                <button class="delete-small-button" id="cancelPcReviewButton">Cancel</button>
                                <button class="main-small-button" id="savePcReviewButton">Submit</button>
                            </div>
                        </div>

                    </div>
                </main>
            </div>


            <!--파츠 리뷰-->
            <div class="community-title">PartsReview</div>

            <!-- CPU리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="CPU Image" class="small-image"
                         th:src="${cart.cpu.imageUrl != null ? cart.cpu.imageUrl : '/images/nav-cpu.png'}">
                    <span th:text="${pcReview.cpuReview.cpu.name}">[CPU Name]</span>
                </label></legend>
                <div id="cpuRow" th:data-id="${pcReview.cpuReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="cpuTitle" th:text="${pcReview.cpuReview.partsReviewTitle}">CPU
                            Review Title
                        </div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="cpuDate" th:text="${formattedCpuDate}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="cpuContent" th:text="${pcReview.cpuReview.partsReviewContent}">CPU
                        Review Content
                    </div>

                    <!-- 읽기 전용 별점 -->
                    <div class="hidden-rating" id="cpuRating" th:text="${pcReview.cpuReview.partsReviewRating}" >CPU Review Rating</div>
                    <div class="stars read-only" id="starsReadOnlyCpu">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="button-container">
                        <button class="main-small-button" id="editCpuButton"
                                th:if="${pcReview.userId == #authentication.name}">Edit
                        </button>
                    </div>
                </div>
                <div class="form-row" id="editCpuRow" style="display: none;">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editCpuTitle"
                                  th:text="${pcReview.cpuReview.partsReviewTitle}"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span th:text="${formattedCpuDate}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editCpuContent"
                              th:text="${pcReview.cpuReview.partsReviewContent}"></textarea>
                    <!-- 수정 가능한 별점 -->
                    <div class="stars editable" id="starsEditableCpu">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                        <input id="editableRatingCpu" th:value="${pcReview.cpuReview.partsReviewRating}" type="hidden">
                    </div>

                    <div class="button-container">
                        <button class="delete-small-button" id="cancelCpuButton">Cancel</button>
                        <button class="main-small-button" id="saveCpuButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- CPU쿨러 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="CPU쿨러 Image" class="small-image"
                         th:src="${cart.cpucooler.imageUrl != null ? cart.cpucooler.imageUrl : '/images/nav-cpucooler.png'}">
                    <span th:text="${pcReview.cpucoolerReview.cpucooler.name}">[CPU쿨러 Name]</span>
                </label></legend>
                <div id="cpucoolerRow" th:data-id="${pcReview.cpucoolerReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="cpucoolerTitle"
                             th:text="${pcReview.cpucoolerReview.partsReviewTitle}">CPU쿨러 Review Title
                        </div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="cpucoolerDate" th:text="${formattedCpucoolerDate}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="cpucoolerContent"
                         th:text="${pcReview.cpucoolerReview.partsReviewContent}">CPU쿨러 Review Content
                    </div>
                    <div class="hidden-rating" id="cpucoolerRating" th:text="${pcReview.cpucoolerReview.partsReviewRating}">CPU쿨러 Review
                        Rating
                    </div>
                    <div class="stars read-only" id="starsReadOnlyCpucooler">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="button-container">
                        <button class="main-small-button" id="editCpucoolerButton"
                                th:if="${pcReview.userId == #authentication.name}">Edit
                        </button>
                    </div>
                </div>
                <div class="form-row" id="editCpucoolerRow" style="display: none;">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editCpucoolerTitle"
                                  th:text="${pcReview.cpucoolerReview.partsReviewTitle}"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span th:text="${formattedCpucoolerDate}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editCpucoolerContent"
                              th:text="${pcReview.cpucoolerReview.partsReviewContent}"></textarea>
                    <div class="stars editable" id="starsEditableCpucooler">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                        <input id="editableRatingCpucooler" th:value="${pcReview.cpucoolerReview.partsReviewRating}"
                               type="hidden">
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelCpucoolerButton">Cancel</button>
                        <button class="main-small-button" id="saveCpucoolerButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Motherboard 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Motherboard Image" class="small-image"
                         th:src="${cart.motherboard.imageUrl != null ? cart.motherboard.imageUrl : '/images/nav-motherboard.png'}">
                    <span th:text="${pcReview.motherboardReview.motherboard.name}">[Motherboard Name]</span>
                </label></legend>
                <div id="motherboardRow" th:data-id="${pcReview.motherboardReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="motherboardTitle"
                             th:text="${pcReview.motherboardReview.partsReviewTitle}">Motherboard Review Title
                        </div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="motherboardDate" th:text="${formattedMotherboardDate}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="motherboardContent"
                         th:text="${pcReview.motherboardReview.partsReviewContent}">Motherboard Review Content
                    </div>
                    <div class="hidden-rating" id="motherboardRating" th:text="${pcReview.motherboardReview.partsReviewRating}">Motherboard
                        Review Rating
                    </div>
                    <div class="stars read-only" id="starsReadOnlyMotherboard">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="button-container">
                        <button class="main-small-button" id="editMotherboardButton"
                                th:if="${pcReview.userId == #authentication.name}">Edit
                        </button>
                    </div>
                </div>
                <div class="form-row" id="editMotherboardRow" style="display: none;">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editMotherboardTitle"
                                  th:text="${pcReview.motherboardReview.partsReviewTitle}"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span th:text="${formattedMotherboardDate}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editMotherboardContent"
                              th:text="${pcReview.motherboardReview.partsReviewContent}"></textarea>
                    <div class="stars editable" id="starsEditableMotherboard">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                        <input id="editableRatingMotherboard" th:value="${pcReview.motherboardReview.partsReviewRating}"
                               type="hidden">
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelMotherboardButton">Cancel</button>
                        <button class="main-small-button" id="saveMotherboardButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Memory 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Memory Image" class="small-image"
                         th:src="${cart.memory.imageUrl != null ? cart.memory.imageUrl : '/images/nav-memory.png'}">
                    <span th:text="${pcReview.memoryReview.memory.name}">[Memory Name]</span>
                </label></legend>
                <div id="memoryRow" th:data-id="${pcReview.memoryReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="memoryTitle"
                             th:text="${pcReview.memoryReview.partsReviewTitle}">Memory Review Title
                        </div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="memoryDate" th:text="${formattedMemoryDate}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="memoryContent"
                         th:text="${pcReview.memoryReview.partsReviewContent}">Memory Review Content
                    </div>
                    <div class="hidden-rating" id="memoryRating" th:text="${pcReview.memoryReview.partsReviewRating}">Memory Review Rating
                    </div>
                    <div class="stars read-only" id="starsReadOnlyMemory">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="button-container">
                        <button class="main-small-button" id="editMemoryButton"
                                th:if="${pcReview.userId == #authentication.name}">Edit
                        </button>
                    </div>
                </div>
                <div class="form-row" id="editMemoryRow" style="display: none;">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editMemoryTitle"
                                  th:text="${pcReview.memoryReview.partsReviewTitle}"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span th:text="${formattedMemoryDate}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editMemoryContent"
                              th:text="${pcReview.memoryReview.partsReviewContent}"></textarea>
                    <div class="stars editable" id="starsEditableMemory">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                        <input id="editableRatingMemory" th:value="${pcReview.memoryReview.partsReviewRating}" type="hidden">
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelMemoryButton">Cancel</button>
                        <button class="main-small-button" id="saveMemoryButton">Submit</button>
                    </div>
                </div>
            </fieldset>


            <!-- Storage 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Storage Image" class="small-image"
                         th:src="${cart.storage.imageUrl != null ? cart.storage.imageUrl : '/images/nav-storage.png'}">
                    <span th:text="${pcReview.storageReview.storage.name}">[Storage Name]</span>
                </label></legend>
                <div id="storageRow" th:data-id="${pcReview.storageReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="storageTitle"
                             th:text="${pcReview.storageReview.partsReviewTitle}">Storage Review Title
                        </div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="storageDate" th:text="${formattedStorageDate}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="storageContent"
                         th:text="${pcReview.storageReview.partsReviewContent}">Storage Review Content
                    </div>
                    <div class="hidden-rating" id="storageRating" th:text="${pcReview.storageReview.partsReviewRating}">Storage Review
                        Rating
                    </div>
                    <div class="stars read-only" id="starsReadOnlyStorage">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="button-container">
                        <button class="main-small-button" id="editStorageButton"
                                th:if="${pcReview.userId == #authentication.name}">Edit
                        </button>
                    </div>
                </div>
                <div class="form-row" id="editStorageRow" style="display: none;">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editStorageTitle"
                                  th:text="${pcReview.storageReview.partsReviewTitle}"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span th:text="${formattedStorageDate}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editStorageContent"
                              th:text="${pcReview.storageReview.partsReviewContent}"></textarea>
                    <div class="stars editable" id="starsEditableStorage">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                        <input id="editableRatingStorage" th:value="${pcReview.storageReview.partsReviewRating}" type="hidden">
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelStorageButton">Cancel</button>
                        <button class="main-small-button" id="saveStorageButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Video Card 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Video Card Image" class="small-image"
                         th:src="${cart.videocard.imageUrl != null ? cart.videocard.imageUrl : '/images/nav-videocard.png'}">
                    <span th:text="${pcReview.videocardReview.videocard.name}">[Video Card Name]</span>
                </label></legend>
                <div id="videocardRow" th:data-id="${pcReview.videocardReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="videocardTitle"
                             th:text="${pcReview.videocardReview.partsReviewTitle}">Video Card Review Title
                        </div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="videocardDate" th:text="${formattedVideocardDate}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="videocardContent"
                         th:text="${pcReview.videocardReview.partsReviewContent}">Video Card Review Content
                    </div>
                    <div class="hidden-rating" id="videocardRating" th:text="${pcReview.videocardReview.partsReviewRating}">Video Card Review
                        Rating
                    </div>
                    <div class="stars read-only" id="starsReadOnlyVideocard">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="button-container">
                        <button class="main-small-button" id="editVideocardButton"
                                th:if="${pcReview.userId == #authentication.name}">Edit
                        </button>
                    </div>
                </div>
                <div class="form-row" id="editVideocardRow" style="display: none;">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editVideocardTitle"
                                  th:text="${pcReview.videocardReview.partsReviewTitle}"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span th:text="${formattedVideocardDate}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editVideocardContent"
                              th:text="${pcReview.videocardReview.partsReviewContent}"></textarea>
                    <div class="stars editable" id="starsEditableVideocard">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                        <input id="editableRatingVideocard" th:value="${pcReview.videocardReview.partsReviewRating}"
                               type="hidden">
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelVideocardButton">Cancel</button>
                        <button class="main-small-button" id="saveVideocardButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Power Supply 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Power Supply Image" class="small-image"
                         th:src="${cart.powersupply.imageUrl != null ? cart.powersupply.imageUrl : '/images/nav-powersupply.png'}">
                    <span th:text="${pcReview.powersupplyReview.powersupply.name}">[Power Supply Name]</span>
                </label></legend>
                <div id="powersupplyRow" th:data-id="${pcReview.powersupplyReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="powersupplyTitle"
                             th:text="${pcReview.powersupplyReview.partsReviewTitle}">Power Supply Review Title
                        </div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="powersupplyDate" th:text="${formattedPowersupplyDate}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="powersupplyContent"
                         th:text="${pcReview.powersupplyReview.partsReviewContent}">Power Supply Review Content
                    </div>
                    <div class="hidden-rating" id="powersupplyRating" th:text="${pcReview.powersupplyReview.partsReviewRating}">Power Supply
                        Review Rating
                    </div>
                    <div class="stars read-only" id="starsReadOnlyPowersupply">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="button-container">
                        <button class="main-small-button" id="editPowersupplyButton"
                                th:if="${pcReview.userId == #authentication.name}">Edit
                        </button>
                    </div>
                </div>
                <div class="form-row" id="editPowersupplyRow" style="display: none;">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editPowersupplyTitle"
                                  th:text="${pcReview.powersupplyReview.partsReviewTitle}"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span th:text="${formattedPowersupplyDate}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editPowersupplyContent"
                              th:text="${pcReview.powersupplyReview.partsReviewContent}"></textarea>
                    <div class="stars editable" id="starsEditablePowersupply">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                        <input id="editableRatingPowersupply" th:value="${pcReview.powersupplyReview.partsReviewRating}"
                               type="hidden">
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelPowersupplyButton">Cancel</button>
                        <button class="main-small-button" id="savePowersupplyButton">Submit</button>
                    </div>
                </div>
            </fieldset>

            <!-- Cover 리뷰 -->
            <fieldset class="readPartsContainer">
                <legend><label class="partsTitle">
                    <img alt="Cover Image" class="small-image"
                         th:src="${cart.cover.imageUrl != null ? cart.cover.imageUrl : '/images/nav-cover.png'}">
                    <span th:text="${pcReview.coverReview.cover.name}">[Cover Name]</span>
                </label></legend>
                <div id="coverRow" th:data-id="${pcReview.coverReview.partsReviewId}">
                    <div class="parts-header">
                        <div class="readPartsTitles" id="coverTitle" th:text="${pcReview.coverReview.partsReviewTitle}">
                            Cover Review Title
                        </div>
                        <div class="pcReviewInfo">
                            Date of Creation : <span id="coverDate" th:text="${formattedCoverDate}"></span>
                        </div>
                    </div>
                    <div class="readPartsContent" id="coverContent"
                         th:text="${pcReview.coverReview.partsReviewContent}">Cover Review Content
                    </div>
                    <div class="hidden-rating" id="coverRating" th:text="${pcReview.coverReview.partsReviewRating}">Cover Review Rating</div>
                    <div class="stars read-only" id="starsReadOnlyCover">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <div class="button-container">
                        <button class="main-small-button" id="editCoverButton"
                                th:if="${pcReview.userId == #authentication.name}">Edit
                        </button>
                    </div>
                </div>
                <div class="form-row" id="editCoverRow" style="display: none;">
                    <div class="parts-header">
                        <textarea class="readPartsTitles" id="editCoverTitle"
                                  th:text="${pcReview.coverReview.partsReviewTitle}"></textarea>
                        <div class="pcReviewInfo">
                            Date of Creation : <span th:text="${formattedCoverDate}"></span>
                        </div>
                    </div>
                    <textarea class="readPartsContent" id="editCoverContent"
                              th:text="${pcReview.coverReview.partsReviewContent}"></textarea>
                    <div class="stars editable" id="starsEditableCover">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                        <input id="editableRatingCover" th:value="${pcReview.coverReview.partsReviewRating}" type="hidden">
                    </div>
                    <div class="button-container">
                        <button class="delete-small-button" id="cancelCoverButton">Cancel</button>
                        <button class="main-small-button" id="saveCoverButton">Submit</button>
                    </div>
                </div>
            </fieldset>


            <div class="content">
                <!-- 기존 PC 리뷰 상세 테이블 여기에 위치 -->
            </div>

            <!-- 댓글 입력 폼 -->
            <form class="replyForm comment-form" id="commentForm">
                <div class="inputWrapper">
                    <label class="replyLabel" for="pcReviewCommentContent">Enter Reply</label>
                    <textarea id="pcReviewCommentContent" name="commentContent" placeholder="Enter a comment.

"></textarea>
                    <!--댓글 입력 필드-->
                </div>
                <button class="main-small-button" id="commentWriteButton" type="button">Submit</button>
            </form>

            <!-- 댓글 목록 출력 -->
            <table class="reply comment" id="commentTable">
                <thead>
                <tr>
                    <th style="width: 20%">Author</th>
                    <th style="width: 60%">Content</th>
                    <th style="width: 20%"></th>
                </tr>
                </thead>
                <tbody>
                <!-- 댓글 목록은 여기에서 동적으로 추가됩니다. -->
                </tbody>
            </table>
            <div class="button-footerContainer">
                <!-- 뒤로가기 버튼 -->
                <form th:action="@{/pcreview/list}">
                    <button class="main-button" type="submit">List</button>
                </form>
                <!--리뷰 삭제 버튼-->
                <form method="POST" th:action="@{/pcreview/delete}"
                      th:if="${pcReview.userId == #authentication.name}">
                    <input name="pcreviewId" th:value="${pcReview.pcreviewId}" type="hidden"/>
                    <button class="delete-button" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </main>
</div>
<!-- pcReviewId -->
<input disabled id="userId" th:value="${#authentication.name}" type="hidden">
<script crossorigin="anonymous"
        integrity="sha384-UG8ao2jwOWB7/oDdObZc6ItJmwUkR/PfMyt9Qs5AwX7PsnYn1CRKCTWyncPTWvaS"
        src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
<script src="../../static/js/pcReviewRead.js" th:src="@{/js/pcReviewRead.js}"></script>

</html>