<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <link href="../../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}">

    <link href="../../static/css/pcReviewWrite.css" rel="stylesheet" th:href="@{/css/pcReviewWrite.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <title>PC Review Write</title>

</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <a class="titleName" href="/pcreview/list"><h1 class="container-like">PC Reveiw</h1></a>
        <div class="container">
            <form action="/pcreview/write" method="post">
                <!-- 전체 리뷰 제목 및 내용 -->
                <fieldset class="pcReviewContent" style="margin-top: 0px">
                <label for="imageUpload">Image Uproad:</label>
                <input accept="image/*" id="imageUpload" name="imageUpload" type="file">
                <br>
                <div id="uploadedImages" style="margin-top: 10px; display: flex; align-items: center;">
                    <!-- 업로드한 이미지를 작은 썸네일로 표시 -->
                </div>
                    <legend><h5>Overall Review</h5></legend>
                    <label for="pcReviewTitle">Overall Review Title:</label>
                    <br>
                    <input class="pcReviewTitle" id="pcReviewTitle" name="pcreviewTitle" placeholder="Enter Title"
                           required
                           type="text">
                    <br>
                    <textarea class="pcReviewTextarea" id="pcReviewContent" name="pcreviewContent"
                              placeholder="Enter Content" required
                              rows="5"></textarea>
                    <br>
                </fieldset>

                <!--partsReview-->
                <fieldset class="pcReviewContent">
                    <legend><h5>Parts Review</h5></legend>
                    <!-- CPU 리뷰 -->
                    <fieldset class="partsContent">
                        <label for="cpuTitle" class="partsTitle">
                            <!-- CPU 제목 텍스트 -->
                            <span class="partsName">CPU</span>
                            <!-- 썸네일 이미지 -->
                            <img th:src="${cart.cpu.imageUrl != null ? cart.cpu.imageUrl : '/images/nav-cpu.png'}"
                                 alt="CPU Image" class="partsImage">
                            <!-- CPU Name -->
                            <span th:text="${cart.cpu.name}">[CPU Name]</span>
                        </label>
                        <br>
                        <input class="pcReviewTitle" id="cpuTitle" name="partReviews[cpu].title"
                               placeholder="Enter Title." required
                               type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="cpuContent" name="partReviews[cpu].content" placeholder="Enter Content"
                                  required rows="3"></textarea>
                        <br>
<!--                        <label for="cpuRating">Rating:</label>-->
<!--                        <select id="cpuRating" name="partReviews[cpu].rating" required>-->
<!--                            <option value="1">1점</option>-->
<!--                            <option value="2">2점</option>-->
<!--                            <option value="3">3점</option>-->
<!--                            <option value="4">4점</option>-->
<!--                            <option value="5">5점</option>-->
<!--                        </select>-->
                        <!-- CPU -->
                        <div class="star-container" id="cpuRatingStars">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div>
                        <input id="cpuRatingInput" name="partReviews[cpu].rating" type="hidden" required>
                    </fieldset>

                    <!-- CPU Cooler -->
                    <fieldset class="partsContent">
                        <label for="cpuCoolerTitle" class="partsTitle">
                            <!-- CPU Cooler 제목 -->
                            <span class="partsName">CPU Cooler</span>
                            <img th:src="${cart.cpucooler.imageUrl != null ? cart.cpucooler.imageUrl : '/images/nav-cpucooler.png'}"
                                 alt="CPU Cooler Image" class="partsImage">
                            <span th:text="${cart.cpucooler.name}">[CPU Cooler Name]</span>
                        </label>
                        <br>
                        <input class="pcReviewTitle" id="cpuCoolerTitle" name="partReviews[cpucooler].title" placeholder="Enter Title."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="cpuCoolerContent"
                                  name="partReviews[cpucooler].content" placeholder="Enter Content"
                                  required rows="3"></textarea>
                        <br>
                        <!-- 별점 입력 -->
                        <div class="star-container" id="cpucoolerRatingStars">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div>
                        <input id="cpucoolerRatingInput" name="partReviews[cpucooler].rating" type="hidden" required>
                    </fieldset>


                    <!-- Motherboard -->
                    <fieldset class="partsContent">
                        <label for="motherboardTitle" class="partsTitle">
                            <span class="partsName">Motherboard</span>
                            <img th:src="${cart.motherboard.imageUrl != null ? cart.motherboard.imageUrl : '/images/nav-motherboard.png'}"
                                 alt="Motherboard Image" class="partsImage">
                            <span th:text="${cart.motherboard.name}">[Motherboard Name]</span>
                        </label>
                        <br>
                        <input class="pcReviewTitle" id="motherboardTitle" name="partReviews[motherboard].title" placeholder="Enter Title."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="motherboardContent"
                                  name="partReviews[motherboard].content" placeholder="Enter Content"
                                  required rows="3"></textarea>
                        <br>
                        <div class="star-container" id="motherboardRatingStars">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div>
                        <input id="motherboardRatingInput" name="partReviews[motherboard].rating" type="hidden" required>
                    </fieldset>

                    <!-- Memory -->
                    <fieldset class="partsContent">
                        <label for="memoryTitle" class="partsTitle">
                            <span class="partsName">Memory</span>
                            <img th:src="${cart.memory.imageUrl != null ? cart.memory.imageUrl : '/images/nav-memory.png'}"
                                 alt="Memory Image" class="partsImage">
                            <span th:text="${cart.memory.name}">[Memory Name]</span>
                        </label>
                        <br>
                        <input class="pcReviewTitle" id="memoryTitle" name="partReviews[memory].title" placeholder="Enter Title."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="memoryContent"
                                  name="partReviews[memory].content" placeholder="Enter Content"
                                  required rows="3"></textarea>
                        <br>
                        <div class="star-container" id="memoryRatingStars">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div>
                        <input id="memoryRatingInput" name="partReviews[memory].rating" type="hidden" required>
                    </fieldset>

                    <!-- Storage -->
                    <fieldset class="partsContent">
                        <label for="storageTitle" class="partsTitle">
                            <span class="partsName">Storage</span>
                            <img th:src="${cart.storage.imageUrl != null ? cart.storage.imageUrl : '/images/nav-storage.png'}"
                                 alt="Storage Image" class="partsImage">
                            <span th:text="${cart.storage.name}">[Storage Name]</span>
                        </label>
                        <br>
                        <input class="pcReviewTitle" id="storageTitle" name="partReviews[storage].title" placeholder="Enter Title."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="storageContent"
                                  name="partReviews[storage].content" placeholder="Enter Content"
                                  required rows="3"></textarea>
                        <br>
                        <div class="star-container" id="storageRatingStars">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div>
                        <input id="storageRatingInput" name="partReviews[storage].rating" type="hidden" required>
                    </fieldset>

                    <!-- Videocard -->
                    <fieldset class="partsContent">
                        <label for="videocardTitle" class="partsTitle">
                            <span class="partsName">Videocard</span>
                            <img th:src="${cart.videocard.imageUrl != null ? cart.videocard.imageUrl : '/images/nav-videocard.png'}"
                                 alt="Videocard Image" class="partsImage">
                            <span th:text="${cart.videocard.name}">[Videocard Name]</span>
                        </label>
                        <br>
                        <input class="pcReviewTitle" id="videocardTitle" name="partReviews[videocard].title" placeholder="Enter Title."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="videocardContent"
                                  name="partReviews[videocard].content" placeholder="Enter Content"
                                  required rows="3"></textarea>
                        <br>
                        <div class="star-container" id="videocardRatingStars">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div>
                        <input id="videocardRatingInput" name="partReviews[videocard].rating" type="hidden" required>
                    </fieldset>

                    <!-- Powersupply -->
                    <fieldset class="partsContent">
                        <label for="powersupplyTitle" class="partsTitle">
                            <span class="partsName">Powersupply</span>
                            <img th:src="${cart.powersupply.imageUrl != null ? cart.powersupply.imageUrl : '/images/nav-powersupply.png'}"
                                 alt="Powersupply Image" class="partsImage">
                            <span th:text="${cart.powersupply.name}">[Powersupply Name]</span>
                        </label>
                        <br>
                        <input class="pcReviewTitle" id="powersupplyTitle" name="partReviews[powersupply].title" placeholder="Enter Title."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="powersupplyContent"
                                  name="partReviews[powersupply].content" placeholder="Enter Content"
                                  required rows="3"></textarea>
                        <br>
                        <div class="star-container" id="powersupplyRatingStars">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div>
                        <input id="powersupplyRatingInput" name="partReviews[powersupply].rating" type="hidden" required>
                    </fieldset>

                    <!-- Cover -->
                    <fieldset class="partsContent">
                        <label for="coverTitle" class="partsTitle">
                            <span class="partsName">Cover</span>
                            <img th:src="${cart.cover.imageUrl != null ? cart.cover.imageUrl : '/images/nav-cover.png'}"
                                 alt="Cover Image" class="partsImage">
                            <span th:text="${cart.cover.name}">[Cover Name]</span>
                        </label>
                        <br>
                        <input class="pcReviewTitle" id="coverTitle" name="partReviews[cover].title" placeholder="Enter Title."
                               required type="text">
                        <br>
                        <textarea class="pcReviewPartsTextarea" id="coverContent"
                                  name="partReviews[cover].content" placeholder="Enter Content"
                                  required rows="3"></textarea>
                        <br>
                        <div class="star-container" id="coverRatingStars">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div>
                        <input id="coverRatingInput" name="partReviews[cover].rating" type="hidden" required>
                    </fieldset>

                </fieldset>
                <div class="button-container">
                    <button class="delete-small-button" onclick="location.href='/cart'">Cancel</button>
                    <button class="main-small-button" type="submit" th:onclick="|location.href='@{/pcreview/write}'|"
                            th:disabled="${cart.cpu == null or cart.cpucooler == null or cart.motherboard == null or cart.memory == null or
                                cart.storage == null or cart.videocard == null or cart.powersupply == null or cart.cover == null}">Submit</button>
                </div>
            </form>
        </div>
    </main>
</div>
</div>
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
<script src="../../static/js/pcReviewWrite.js" th:src="@{/js/pcReviewWrite.js}"></script>

</html>