<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Community Board</title>
    <script src="../../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/list.css}" href="../../static/css/list.css">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <script src="../../static/js/main.min.js" th:src="@{/js/main.min.js}"></script>
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <script src="../../static/js/list.js" th:src="@{/js/list.js}"></script>


</head>
<body>
<!-- Header Fragment 포함 -->
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <div class="container">
            <div class="community-container">
                <h1>Community Board</h1>

                <!-- 글쓰기 버튼 (링크로 변환) -->
                <button class="write-button"><a  id="writeButton" href="write" >Write Post</a></button>

                <!-- 테이블 -->
                <table class="list-table">
                    <thead>
                    <tr>
                        <th style="width: 10%;">No.</th>
                        <th id="list-title" style="width: 35%;">Title</th>
                        <th style="width: 20%;">Author</th>
                        <th style="width: 15%;">Views</th>
                        <th style="width: 20%;">Date</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <!-- 글 목록 출력 영역 -->
                    <tr>
                        <td colspan="5" style="text-align: center;">No Posts available.</td>
                    </tr>
                    </tbody>
                </table>

                <!-- 페이지네이션 -->
                <div class="pagination">
                    <!-- 이전 페이지 버튼 -->
                    <button id="prevPage" th:disabled="${currentPage == 0}" onclick="changePage(${currentPage - 1})">Prev</button>

                    <!-- 페이지 번호를 동적으로 표시할 영역 -->
                    <div id="pageNumbers"></div>

                    <!-- 다음 페이지 버튼 -->
                    <button id="nextPage" th:disabled="${currentPage == totalPages - 1}" onclick="changePage(${currentPage + 1})">Next</button>
                </div>



                <div class="form-footer">
                    <p>If you have any questions or feedback about the board, the administrator will assist you.</p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<!--footer-->
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</html>