<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티 게시판</title>
    <script src="../../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/list.css}" href="../../static/css/list.css">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <script src="../../static/js/main.min.js" th:src="@{/js/main.min.js}"></script>
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <script src="../../static/js/list.js" th:src="@{/js/list.js}"></script>


</head>
<body>
<!-- Header Fragment 포함 -->
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap">
    <main class="site-content">
        <div class="container">
            <div class="community-container">
                <h1>커뮤니티 게시판</h1>

                <!-- 글쓰기 버튼 (링크로 변환) -->
                <button class="write-button"><a  id="writeButton" href="write" >글쓰기</a></button>

                <!-- 테이블 -->
                <table class="list-table">
                    <thead>
                    <tr>
                        <th style="width: 10%;">번호</th>
                        <th style="width: 15%;">조회수</th>
                        <th id="list-title" style="width: 40%;">제목</th>
                        <th style="width: 20%;">작성자</th>
                        <th style="width: 15%;">작성일</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <!-- 글 목록 출력 영역 -->
                    <tr>
                        <td colspan="5" style="text-align: center;">목록이 없습니다.</td>
                    </tr>
                    </tbody>
                </table>

                <div class="form-footer">
                    <p>게시판에 대한 문의나 의견이 있으시면 관리자가 도움을 드리겠습니다.</p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<!--footer-->
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</html>