<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/write-update.css" rel="stylesheet" th:href="@{/css/write-update.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <script src="../../static/js/update.js" th:src="@{/js/update.js}"></script>
    <style>

    </style>

</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap ">
    <main class="site-content">
        <div class="container community-container">
            <h1>게시물 수정</h1>

            <!-- 게시물 수정 폼 -->
            <form method="POST" onsubmit="return validateForm()"
                  th:action="@{/community/update/{id}(id=${community.communityId})}">

                <!-- 제목 입력 필드 (기존 제목이 자동으로 들어가도록 처리) -->
                <div>
                    <input class="communityTitle" id="communityTitle" name="communityTitle" placeholder="제목을 입력하세요"
                           required
                           th:value="${community.communityTitle}" type="text"/>
                </div>

                <!-- 내용 입력 필드 (기존 내용이 자동으로 들어가도록 처리) -->
                <div>
                <textarea class="communityContent" id="communityContent" name="communityContent" placeholder="내용을 입력하세요"
                          required th:text="${community.communityContent}"></textarea>
                </div>
                <!-- 게시물 ID (수정 시 해당 게시물 ID를 전달) -->
                <input name="communityId" th:value="${community.communityId}" type="hidden"/>

                <!--아직 이미지 업로드 기능 연결 안됨-->
                <label for="imageUpload">이미지 업로드:</label>
                <input accept="image/*" id="imageUpload" name="imageUpload" type="file">

                <div class="button-container">
                    <!-- 제출 버튼 -->
                    <button class="submit-button" type="submit">수정 완료</button>
                    <!-- 취소 버튼 (목록으로 돌아가기) -->
                    <button class="cancel-button"><a href="/community/read?communityId=${community.communityId}">취소</a>
                    </button>
                </div>
            </form>

            <!-- 폼 하단 안내 -->
            <div class="form-footer">
                <p>게시물을 수정한 후, 목록으로 돌아가거나 다른 게시물을 수정할 수 있습니다.</p>
            </div>
        </div>
    </main>
</div>
</div>
</body>
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</html>