<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/write-update.css}" href="../../static/css/write-update.css">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <link href="../../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="../../static/js/write.js" th:src="@{/js/write.js}"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="body-wrap ">
    <main class="site-content">
<div class="container community-container">
    <h1>Create Post</h1>

    <!-- 게시물 작성 폼 -->
    <form action="/community/write" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <!-- 제목 입력 필드 -->
        <div>
        <input class="communityTitle" type="text" id="communityTitle" name="communityTitle"  placeholder="Please Enter title" required />
        </div>
        <!-- 내용 입력 필드 -->
        <div>
        <textarea id="communityContent" name="communityContent" class="communityContent" placeholder="Please Enter content" required></textarea>
        </div>
        <!-- 작성자 정보는 자동으로 설정될 수 있도록 hidden 필드로 처리하거나, 세션에서 가져오는 방식 -->
        <!-- <input type="hidden" name="memberId" value="${sessionMemberId}" /> -->

        <label for="imageUpload">Upload Image : </label>
        <input accept="image/*" id="imageUpload" name="imageUpload" type="file">

        <div class="button-container">
        <!-- 제출 버튼 -->
        <button type="submit" class="submit-button">Submit</button>
        <!-- 취소 버튼 (목록으로 돌아가기) -->
        <button class="cancel-button"><a href="/community/list" >Cancel</a></button>
        </div>
    </form>

    <!-- 폼 하단 안내 -->
    <div class="form-footer">
        <p>Complete the post creation, return to the list, or create another post.</p>
    </div>
</div>
    </main>
</div>
</div>
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>