<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/write-update.css}" href="../../static/css/write-update.css">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
    <script src="../../static/js/write.js" th:src="@{/js/write.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div class="body-wrap ">
    <main class="site-content">
<div class="container community-container">
    <h1>게시물 작성</h1>

    <!-- 게시물 작성 폼 -->
    <form action="/community/write" method="POST" onsubmit="return validateForm()">
        <!-- 제목 입력 필드 -->
        <div>
        <input class="communityTitle" type="text" id="communityTitle" name="communityTitle"  placeholder="제목을 입력하세요" required />
        </div>
        <!-- 내용 입력 필드 -->
        <div>
        <textarea id="communityContent" name="communityContent" class="communityContent" placeholder="내용을 입력하세요" required></textarea>
        </div>
        <!-- 작성자 정보는 자동으로 설정될 수 있도록 hidden 필드로 처리하거나, 세션에서 가져오는 방식 -->
        <!-- <input type="hidden" name="memberId" value="${sessionMemberId}" /> -->

        <div class="button-container">
        <!-- 제출 버튼 -->
        <button type="submit" class="submit-button">작성 완료</button>
        <!-- 취소 버튼 (목록으로 돌아가기) -->
        <button class="cancel-button"><a href="list" >취소</a></button>
        </div>
    </form>

    <!-- 폼 하단 안내 -->
    <div class="form-footer">
        <p>게시물 작성을 완료하고, 목록으로 돌아가거나 다른 게시물을 작성할 수 있습니다.</p>
    </div>
</div>
    </main>
</div>
</div>
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>