<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>PcSymphony</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>

</head>
<body>
<!-- 헤더 -->
<header class="site-header hero section has-bg-color" th:fragment="headerFragment">

    <div class="container">
        <div class="site-header-inner">
            <div class="brand">
                <h2 >
                    <a class="logo-text" href="../home.html" th:href="@{/}">
                        <img class="logo" alt="PcSymphony"  src="../../static/images/pc-Icon.png" th:src="@{/images/pc-Icon.png}">
                        <span>
                        PcSymphony
                        </span>
                    </a>

                </h2>
            </div>
            <button class="header-nav-toggle" id="header-nav-toggle">
                <span class="screen-reader">Menu</span>
                <span class="hamburger"><span class="hamburger-inner"></span></span>
            </button>
            <nav class="header-nav" id="header-nav">
                <ul class="list-reset header-nav-right">
                    <li>
                        <!-- 로그인 전 -->
                        <th:block sec:authorize="not isAuthenticated()">
                            <p><a class="button button-primary button-wide-mobile button-sm" th:href="@{/member/login}">로그인</a>
                            </p>
                            <p><a class="button button-primary button-wide-mobile button-sm" th:href="@{/member/join}">회원가입</a>
                            </p>
                        </th:block>
                        <!-- 로그인 후 -->
                        <th:block sec:authorize="isAuthenticated()">
                            <p><a class="button button-primary button-wide-mobile button-sm"
                                  th:href="@{/member/logout}">로그아웃</a></p>
                        </th:block>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="hero-inner section-inner">
            <div class="split-wrap">
                <!-- 여기에 컨텐츠 추가 -->
                <div bottommargin="0" leftmargin="0" rightmargin="0" style="background-color:#0c1622" topmargin="0">
                    <div class="menu">
                        <nav class="clearfix">
                            <ul class="clearfix">
                                <li><a th:href="@{/cart}">Cart</a></li> <!--""<-여기 부분에 URL 작성하면 됨-->
                                <li><a href="#" id="partsbutton">Parts</a></li>
                                <li><a th:href="@{guide/guideList}">Guide</a></li>
                                <li><a th:href="@{/community/list}">Community</a></li>
                                <li><a th:href="@{pcreview/list}">Review</a></li>
                            </ul>
                            <a href="#" id="pull"></a>
                        </nav>
                    <!-- 2x4 버튼을 표시할 컨테이너 -->
                    <div class="hidden" id="parts-grid-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

</body>
</html>